{% extends 'BackendBundle:Default:main.html.twig' %}
{% block title %}{{'backend.sprint.backlog'|trans}}{% endblock %}
{% block content %}

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{'backend.sprint.backlog'|trans}}
                <a href="{{path('backend_project_product_backlog_new',{'id':project.id, 'sprintId':sprint.id})}}" class="btn btn-primary pull-right">{{'backend.item.new'|trans}}</a>
            </h1>

            {% set item2 = {'text': project.name, 'url':path('backend_projects_view',{'id':project.id}),'icon':'fa fa-dashboard'} %}
            {% set item3 = {'text': 'backend.sprint.sprints'|trans, 'url':path('backend_project_sprints',{'id':project.id}), 'icon':'fa fa-rotate-right'} %}
            {% set item4 = {'text': 'backend.sprint.backlog'|trans, 'icon':'fa fa-list'} %}
            {% set items = [item2, item3, item4] %}
            {{ filters.breadcrum(items) }}
        </div>
    </div>
    <!-- /.row -->
    {{ filters.showMessage('messageSuccess', 'success')}}
    {{ filters.showMessage('messageError', 'danger')}}

    <div class="row">
        <div class="col-lg-7 col-md-12 col-xs-12">
            <div id="container-burndown" style="max-width: 680px; height: 500px;"></div>
        </div>
        <div class="col-lg-5 col-md-12 col-xs-12">
            <legend>{{ 'backend.sprint.details'|trans }}</legend>
            
            <div class="form-group col-md-6 col-xs-6">
                <label>{{ 'backend.sprint.start_date'|trans }}</label>
                <p>{{sprint.startDate|date(project.settings.dateFormat)}}</p>
            </div>
            <div class="form-group col-md-6 col-xs-6">
                <label>{{ 'backend.sprint.estimated_date'|trans }}</label>
                <p>{{sprint.estimatedDate|date(project.settings.dateFormat)}}</p>
            </div>
            <div class="form-group col-md-6 col-xs-6">
                <label>{{ 'backend.sprint.weekends'|trans }}</label>
                <p>{{sprint.getTextWorkWeekends()|trans }}</p>
            </div>
            <div class="form-group col-md-6 col-xs-6">
                <label>{{ 'backend.sprint.status'|trans }}</label>
                <p>{{sprint.textStatus|trans}}</p>
            </div>
            <div class="form-group col-md-6 col-xs-6">
                <label>{{ 'backend.sprint.working_days'|trans }}</label>
                <p>{{sprint.getSprintDays|length}}</p>
            </div>
            <div class="form-group col-md-6 col-xs-6">
                <label>{{'backend.sprint.total_estimated'|trans}}</label>
                <p>{{ sprint.estimatedTime }} {{'backend.global.hours'|trans|lower}}</p>
            </div>
            <div class="form-group col-md-6 col-xs-6">
                <label>{{'backend.sprint.total_worked'|trans}}</label>
                <p>{{ sprint.workedTime }} {{'backend.global.hours'|trans|lower}}</p>
            </div>
            <div class="form-group col-md-6 col-xs-6">
                <label>{{'backend.sprint.remaining_work'|trans}}</label>
                <p>{{ sprint.remainingTime }} {{'backend.global.hours'|trans|lower}}</p>
            </div>
            
            <div class="form-group col-md-12 col-xs-12">
                {% if sprint.status == constant('BackendBundle\\Entity\\Sprint::STATUS_PLANNED') %}
                    <button type="button" class="btn btn-secondary btn-success modify-sprint-status" new-status="{{constant('BackendBundle\\Entity\\Sprint::STATUS_IN_PROCESS')}}">
                        {{'backend.sprint.start_sprint'|trans}}
                    </button>
                {% elseif sprint.status == constant('BackendBundle\\Entity\\Sprint::STATUS_IN_PROCESS') %}
                    <button type="button" class="btn btn-secondary btn-danger modify-sprint-status" new-status="{{constant('BackendBundle\\Entity\\Sprint::STATUS_STOPPED')}}">
                        {{'backend.sprint.stop_sprint'|trans}}
                    </button>
                    <button type="button" class="btn btn-secondary btn-success modify-sprint-status" new-status="{{constant('BackendBundle\\Entity\\Sprint::STATUS_FINISHED')}}">
                        {{'backend.sprint.finish_sprint'|trans}}
                    </button>
                {% elseif sprint.status == constant('BackendBundle\\Entity\\Sprint::STATUS_STOPPED') %}
                    <button type="button" class="btn btn-secondary btn-success modify-sprint-status" new-status="{{constant('BackendBundle\\Entity\\Sprint::STATUS_FINISHED')}}">
                        {{'backend.sprint.finish_sprint'|trans}}
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="rstable">
                
                <ol parent="{{constant('BackendBundle\\Entity\\Item::EMPTY_PARENT')}}" class="default vertical">
                {% for item in sprintBacklog %}
                    
                    <li item-id='{{item.id}}' parent="{{constant('BackendBundle\\Entity\\Item::EMPTY_PARENT')}}" priority="{{item.priority|default(0)}}" class="backlog-item">
                        {{ filters.itemDescription(item, project, sprint, true) }}
                        {% if item.children is not empty %}
                            <ol parent='{{item.id}}' >
                                {% for firstChild in item.children %}
                                    <li item-id='{{firstChild.id}}' parent='{{item.id}}' priority="{{firstChild.priority|default(0)}}" class="backlog-item">
                                        {{ filters.itemDescription(firstChild, project, sprint, true) }}
                                        {% if firstChild.children is not empty %}
                                            <ol parent='{{firstChild.id}}'>
                                                {% for secondChild in firstChild.children %}
                                                    <li item-id='{{secondChild.id}}' parent='{{firstChild.id}}' priority="{{secondChild.priority|default(0)}}" class="backlog-item">
                                                        {{ filters.itemDescription(secondChild, project, sprint, true) }}
                                                        {% if secondChild.children is not empty %}
                                                            <ol parent='{{secondChild.id}}'>
                                                                {% for thirdChild in secondChild.children %}
                                                                    <li item-id='{{thirdChild.id}}' parent='{{secondChild.id}}' priority="{{thirdChild.priority|default(0)}}" class="backlog-item">
                                                                        {{ filters.itemDescription(thirdChild, project, sprint, true) }}
                                                                        {% if thirdChild.children is not empty %}
                                                                            <ol parent='{{thirdChild.id}}'>
                                                                                {% for fourtChild in thirdChild.children %}
                                                                                    <li item-id='{{fourtChild.id}}' parent='{{thirdChild.id}}' priority="{{fourtChild.priority|default(0)}}" class="backlog-item">
                                                                                        {{ filters.itemDescription(fourtChild, project, sprint, false) }}
                                                                                        {% if fourtChild.children is not empty %}
                                                                                            <ol parent='{{fourtChild.id}}'>
                                                                                                {% for fifthChild in fourtChild.children %}
                                                                                                    <li item-id='{{fifthChild.id}}' parent='{{fourtChild.id}}' priority="{{fifthChild.priority|default(0)}}" class="backlog-item">
                                                                                                        {{ filters.itemDescription(fifthChild, project, sprint, false) }}
                                                                                                    </li>
                                                                                                {% endfor %}
                                                                                            </ol>
                                                                                        {% endif %}
                                                                                    </li>
                                                                                {% endfor %}
                                                                            </ol>
                                                                        {% else %}
                                                                            <ol parent="{{thirdChild.id}}"></ol>
                                                                        {% endif %}
                                                                    </li>
                                                                {% endfor %}
                                                            </ol>
                                                        {% else %}
                                                            <ol parent="{{secondChild.id}}"></ol>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ol>
                                        {% else %}
                                            <ol parent="{{firstChild.id}}"></ol>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ol>
                        {% else %}
                            <ol parent="{{item.id}}"></ol>
                        {% endif %}
                    </li>
                {% endfor %}
                </ol>
                
                <div class="col-lg-12 col-md-12 col-xs-12 no-padding-right main-item">
                    <div class="col-xs-10 col-md-10 no-padding-left text-right">
                        {{'backend.sprint.total_estimated'|trans}}
                    </div>
                    <div class="col-xs-2 col-md-2 pull-right text-right">
                        {{ sprint.estimatedTime }}
                    </div>
                    <div class="col-xs-10 col-md-10 no-padding-left text-right">
                        {{'backend.sprint.total_worked'|trans}}
                    </div>
                    <div class="col-xs-2 col-md-2 pull-right text-right">
                        {{ sprint.workedTime }}
                    </div>
                    <div class="col-xs-10 col-md-10 no-padding-left text-right">
                        {{'backend.sprint.remaining_work'|trans}}
                    </div>
                    <div class="col-xs-2 col-md-2 pull-right text-right">
                        {{ sprint.remainingTime }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
        {# Codigo para el sortable #}
        $("ol.vertical").sortable({
            group: 'simple_with_animation',
            pullPlaceholder: true,
            // animation on drop
            // item es el elemento que estamos arrastrando
            onDrop: function  ($item, container, _super) {
                
                var $clonedItem = $('<li/>').css({height: 0});
                $item.before($clonedItem);
                $clonedItem.animate({'height': $item.height()});

                $item.animate($clonedItem.position(), function  () {
                    $clonedItem.detach();
                    _super($item, container);
                    //container el es el contenedor en donde se esta moviendo el elemento
                    moveItem($item, container);
                });
            },

            // set $item relative to cursor position
            onDragStart: function ($item, container, _super) {
              var offset = $item.offset(),
                  pointer = container.rootGroup.pointer;

              adjustment = {
                left: pointer.left - offset.left,
                top: pointer.top - offset.top
              };

              _super($item, container);
            },
            //item es el elemento que estamos arrastrando
            onDrag: function ($item, position) {
                $item.css({
                    left: position.left - adjustment.left,
                    top: position.top - adjustment.top
                });
            }
          });
    
        $(".create-related-item").fancybox({
            width: '840px',
            height: '500px',
            autoSize: true,
            autoScale: false,
            autoDimensions: false,
        });

        {# Codigo para que el cliente pueda eliminar items #}
        $(".delete-item").click(function () {
            var object = $(this);
            var itemId = object.attr('item-id');

            bootbox.dialog({
                message: "{{'backend.item.removal_method_message'|trans}}<br><strong>1. {{'backend.item.cascade_delete'|trans}}: </strong>{{'backend.item.cascade_delete_message'|trans}}<br><strong>2. {{'backend.item.simple_delete'|trans}}: </strong>{{'backend.item.simple_delete_message'|trans}}",
                title: "{{'backend.item.delete'|trans}}",
                buttons: {
                    success: {
                        label: "{{'backend.item.cascade_delete'|trans}}",
                        className: "btn-danger",
                        callback: function () {
                            deleteItem(itemId, "{{constant('BackendBundle\\Entity\\Item::DELETE_CASCADE')}}");
                        }
                    },
                    danger: {
                        label: "{{'backend.item.simple_delete'|trans}}",
                        className: "btn-danger",
                        callback: function () {
                            deleteItem(itemId, "{{constant('BackendBundle\\Entity\\Item::DELETE_SIMPLE')}}");
                        }
                    },
                    main: {
                        label: "{{'backend.global.cancel'|trans}}",
                        className: "btn-default",
                        callback: function () {

                        }
                    }
                }
            });
        });
        
        {# Codigo para cambiar la prioridad de los items #}
        $(".change-priority").click(function() {
            var object = $(this);
            var itemId = object.attr('item-id');
            var priority = object.attr('priority');
            
            bootbox.prompt({
                title: "{{'backend.item.change_priority'|trans}}",
                value: priority,
                buttons: {
                    confirm: {
                        label: "{{'backend.global.save_changes'|trans}}",
                        className: "btn-primary",
                    },
                    cancel: {
                        label: "{{'backend.global.cancel'|trans}}",
                        className: "btn-default",
                    }
                },
                callback: function(result) {
                    if (result != '') {
                        var newPriority = parseInt(result);
                        if (newPriority >= 0 && newPriority <= 100) {
                            modifyPriority(newPriority, itemId, true);
                        } else {
                            $(".bootbox-input").select();
                            return false;
                        }
                    } else {
                        $(".bootbox-input").select();
                        return false;
                    }
                }
            });
        });
        
        {# Codigo para cambiar la estimacion de los items #}
        $(".edit-estimation").click(function() {
            var object = $(this);
            var itemId = object.attr('item-id');
            var estimation = object.attr('estimation');
            
            var htmlDialog = '';
            $.ajax({
                type: 'POST',
                url: "{{path('backend_project_product_backlog_html_edit_estimation',{'id':project.id})}}",
                dataType: 'json',
                data: {itemId: itemId, estimation: estimation},
                async: false,
                success: function (resp)
                {
                    if (resp.result == '__OK__') {
                        htmlDialog = resp.html;
                    } else {
                        bootbox.alert(resp.msg);
                    }
                }
            });
            
            bootbox.dialog({
                title: "{{'backend.item.edit_estimation'|trans}}",
                message: htmlDialog,
                buttons: {
                    success: {
                        label: "{{'backend.global.save_changes'|trans}}",
                        className: "btn-primary",
                        callback: function () {
                            var newEstimation = $('#estimated-hours-' + itemId).val();
                            if (newEstimation != '') {
                                var newEstimation = parseFloat(newEstimation);
                                if (newEstimation >= 0) {
                                    $.ajax({
                                        type: 'POST',
                                        url: "{{path('backend_project_product_backlog_edit_estimation',{'id':project.id})}}",
                                        dataType: 'json',
                                        data: {itemId: itemId, estimation: newEstimation},
                                        success: function (r)
                                        {
                                            if (r.result == '__OK__') {
                                                window.location.reload();
                                            } else {
                                                bootbox.alert(r.msg);
                                            }
                                        },
                                        error: function (r)
                                        {
                                            bootbox.alert("{{'backend.global.unknown_error'|trans}}")
                                        }
                                    });
                                } else {
                                    $('#estimated-hours-' + itemId).select();
                                    return false;
                                }
                            } else {
                                $('#estimated-hours-' + itemId).select();
                                return false;
                            }
                        }
                    },
                    main: {
                        label: "{{'backend.global.cancel'|trans}}",
                        className: "btn-default",
                        callback: function () {

                        }
                    }
                }
            });
        });
        
        {# Codigo para cambiar el tiempo trabajado en un item #}
        $(".edit-worked-time").click(function() {
            var object = $(this);
            var itemId = object.attr('item-id');
            var workedTime = object.attr('worked-time');
            
            var htmlDialog = '';
            $.ajax({
                type: 'POST',
                url: "{{path('backend_project_product_backlog_html_edit_worked_time',{'id':project.id})}}",
                dataType: 'json',
                data: {itemId: itemId, workedTime: workedTime},
                async: false,
                success: function (resp)
                {
                    if (resp.result == '__OK__') {
                        htmlDialog = resp.html;
                    } else {
                        bootbox.alert(resp.msg);
                    }
                }
            });
            
            bootbox.dialog({
                title: "{{'backend.item.edit_worked_time'|trans}}",
                message: htmlDialog,
                buttons: {
                    success: {
                        label: "{{'backend.global.save_changes'|trans}}",
                        className: "btn-primary",
                        callback: function () {
                            var newWorkedTime = $('#worked-hours-' + itemId).val();
                            if (newWorkedTime != '') {
                                var newWorkedTime = parseFloat(newWorkedTime);
                                if (newWorkedTime >= 0) {
                                    $.ajax({
                                        type: 'POST',
                                        url: "{{path('backend_project_product_backlog_edit_worked_time',{'id':project.id})}}",
                                        dataType: 'json',
                                        data: {itemId: itemId, workedTime: newWorkedTime},
                                        success: function (r)
                                        {
                                            if (r.result == '__OK__') {
                                                window.location.reload();
                                            } else {
                                                bootbox.alert(r.msg);
                                            }
                                        },
                                        error: function (r)
                                        {
                                            bootbox.alert("{{'backend.global.unknown_error'|trans}}")
                                        }
                                    });
                                } else {
                                    $('#worked-hours-' + itemId).select();
                                    return false;
                                }
                            } else {
                                $('#worked-hours-' + itemId).select();
                                return false;
                            }
                        }
                    },
                    main: {
                        label: "{{'backend.global.cancel'|trans}}",
                        className: "btn-default",
                        callback: function () {

                        }
                    }
                }
            });
        });

        {# Codigo para cambiar el estado de un item #}
        $(".change-status").click(function() {
            var object = $(this);
            var itemId = object.attr('item-id');
            var status = object.attr('status');
            
            var htmlDialog = '';
            $.ajax({
                type: 'POST',
                url: "{{path('backend_project_product_backlog_html_change_status',{'id':project.id})}}",
                dataType: 'json',
                data: {itemId: itemId, status: status},
                async: false,
                success: function (resp)
                {
                    if (resp.result == '__OK__') {
                        htmlDialog = resp.html;
                    } else {
                        bootbox.alert(resp.msg);
                    }
                }
            });
            
            bootbox.dialog({
                title: "{{'backend.item.change_status'|trans}}",
                message: htmlDialog,
                buttons: {
                    success: {
                        label: "{{'backend.global.save_changes'|trans}}",
                        className: "btn-primary",
                        callback: function () {
                            var newStatus = $('#item-status-' + itemId).val();
                            if (newStatus != '') {
                                var newStatus = parseInt(newStatus);
                                if (newStatus > 0) {
                                    $.ajax({
                                        type: 'POST',
                                        url: "{{path('backend_project_product_backlog_change_status',{'id':project.id})}}",
                                        dataType: 'json',
                                        data: {itemId: itemId, status: newStatus},
                                        success: function (r)
                                        {
                                            if (r.result == '__OK__') {
                                                window.location.reload();
                                            } else {
                                                bootbox.alert(r.msg);
                                            }
                                        },
                                        error: function (r)
                                        {
                                            bootbox.alert("{{'backend.global.unknown_error'|trans}}")
                                        }
                                    });
                                } else {
                                    $('#item-status-' + itemId).focus();
                                    return false;
                                }
                            } else {
                                $('#item-status-' + itemId).focus();
                                return false;
                            }
                        }
                    },
                    main: {
                        label: "{{'backend.global.cancel'|trans}}",
                        className: "btn-default",
                        callback: function () {

                        }
                    }
                }
            });
        });
        

        $('#container-burndown').highcharts({
            title: {
              text: "{{'backend.sprint.burndown_chart'|trans}} - {{sprint.name}}",
              x: -10 //center
            },
            scrollbar: {
                        barBackgroundColor: 'gray',
                        barBorderRadius: 7,
                        barBorderWidth: 0,
                        buttonBackgroundColor: 'gray',
                        buttonBorderWidth: 0,
                        buttonBorderRadius: 7,
                        trackBackgroundColor: 'none',
                        trackBorderWidth: 1,
                        trackBorderRadius: 8,
                        trackBorderColor: '#CCC'
                    },
            colors: ['blue', 'red'],
            plotOptions: {
              line: {
                lineWidth: 3
              },
              tooltip: {
                hideDelay: 200
              }
            },
            subtitle: {
              text: "{{'backend.sprint.sprint_progress_summary'|trans}}",
              x: -10
            },
            xAxis: {
              categories: {{listDays|json_encode()|raw}},
            },
            yAxis: {
              title: {
                text: "{{'backend.sprint.remaining_work'|trans}} ({{'backend.global.hours'|trans}})"
              },
                    type: 'linear',
                    max:{{sprint.estimatedTime}},
                    min:0,
                    tickInterval : parseInt({{sprint.estimatedTime}}/{{listDays|length}})
            },
            tooltip: {
              valueSuffix: " {{'backend.global.hours'|trans|lower}}",
              crosshairs: true,
              shared: true
            },
            legend: {
             layout: 'horizontal',
              align: 'center',
              verticalAlign: 'bottom',
              borderWidth: 0
            },
            series: [{
              name: "{{'backend.sprint.ideal_burn'|trans}}",
              color: 'rgba(255,0,0,0.25)',
              lineWidth: 2,

              data: {{idealArray|json_encode()|raw}}
            }, 
            
            {
              name: "{{'backend.sprint.actual_burn'|trans}}",
              color: 'rgba(0,120,200,0.75)',
              marker: {
                radius: 6
              },
              {% if sprint.status != constant('BackendBundle\\Entity\\Sprint::STATUS_PLANNED') %}
                data: {{actualArray|json_encode()}}
              {% else %}
                data: "{0}"
              {% endif %}
            }]
        });
        
        {# Codigo para cambiar el estado de un Sprint #}
        $(".modify-sprint-status").click(function(){
            var object = $(this);
            var newStatus = object.attr('new-status');
            
            var btnClass = '';
            var bootboxMessage = '';
            var sendButton = '';
            if (newStatus == {{constant('BackendBundle\\Entity\\Sprint::STATUS_IN_PROCESS')}}) {
                btnClass = 'btn-success';
                bootboxMessage = "{{'backend.sprint.start_sprint_message'|trans}}";
                sendButton = "{{'backend.sprint.start_sprint'|trans}}";
            } else if (newStatus == {{constant('BackendBundle\\Entity\\Sprint::STATUS_STOPPED')}}) {
                btnClass = 'btn-danger';
                bootboxMessage = "{{'backend.sprint.stop_sprint_message'|trans}}";
                sendButton = "{{'backend.sprint.stop_sprint'|trans}}";
            } else if (newStatus == {{constant('BackendBundle\\Entity\\Sprint::STATUS_FINISHED')}}) {
                btnClass = 'btn-success';
                bootboxMessage = "{{'backend.sprint.finish_sprint_message'|trans}}";
                sendButton = "{{'backend.sprint.finish_sprint'|trans}}";
            }
            
            bootbox.confirm({
                message: bootboxMessage,
                buttons: {
                    'cancel': {
                        label: '{{'backend.global.cancel' | trans}}',
                        className: 'btn-default'
                    },
                    'confirm': {
                        label: sendButton,
                        className: btnClass
                    }
                },
                callback: function (result) {

                    if (result == true)
                    {
                        $.ajax({
                            type: 'POST',
                            url: "{{path('backend_project_sprints_modify_status',{'id':project.id,'sprintId':sprint.id})}}",
                            dataType: 'json',
                            data: {status: newStatus},
                            success: function (r)
                            {
                                if (r.result == '__OK__') {
                                    window.location.reload();
                                } else {
                                    bootbox.alert(r.msg);
                                }
                            },
                            error: function (r)
                            {
                                bootbox.alert("{{'backend.global.unknown_error'|trans}}")
                            }
                        })
                    }
                }
            });
        });
        
    {% endblock %}

    {% block functions_javascript %}
        {# Funcion que solicita la eliminacion de un item #}
        function deleteItem(itemId, mode) {
            $.ajax({
                type: 'POST',
                url: "{{path('backend_project_product_backlog_delete',{'id':project.id})}}",
                dataType: 'json',
                data: {itemId: itemId, mode: mode},
                success: function (r)
                {
                    if (r.result == '__OK__') {
                        window.location.reload();
                    } else {
                        bootbox.alert(r.msg);
                    }
                },
                error: function (r)
                {
                    bootbox.alert("{{'backend.global.unknown_error'|trans}}")
                }
            });
        }
        
        {# Funcion para controlar cuando se mueve un item, editar prioridad, dependencias, etc #}
        function moveItem (item, container) {
        
            var currentParent = item.attr('parent');
            var itemId = item.attr('item-id')
            console.log('current parent '+currentParent);
            
            if (currentParent == container.el.attr('parent')) {
                {# si el padre es el mismo, significa que se esta editando la prioridad de un item #}
                var currentPriority = item.attr('priority');
                console.log('Prioridad actual '+currentPriority);
                
                {# buscamos la prioridad del item a continuacion#}
                var nextLi = item.next();
                var nextPriority = parseInt(nextLi.attr('priority'));
                
                {# buscamos la prioridad del anterior item #}
                var prevLi = item.prev();
                var previousPriority = parseInt(prevLi.attr('priority'));
                var newPriority = '';
                
                if (nextPriority >=0 && previousPriority >=0) {
                    {# si existe un item atras y uno adelante, colocamos la prioridad entre ambos #}
                    newPriority = nextPriority + (previousPriority - nextPriority)/2;
                } else if (nextPriority >= 0) {
                    {# Si no hay un item arriba, colocamos la prioridad del siguiente mas 1 #}
                    newPriority = nextPriority + 1;
                } else if (previousPriority >= 0) {
                    {# Si no hay un item abajo, colocamos la prioridad del anterior menos 1 #}
                    newPriority = previousPriority - 1;
                }
                
                if (newPriority != '') {
                    {# enviar ajax para modificar prioridad #}
                    var success = modifyPriority (newPriority, itemId, false);
                    
                    if (success) {
                        item.attr('priority',newPriority);
                        var containerPriority = item.find("a.container-priority").first();
                        containerPriority.html(newPriority);
                    } else {
                        window.location.reload();
                    }
                }
            } else {
                {# si el padre es distinto, significa que se esta moviendo el item a otro item #}
                console.log('se desea cambiar el padre');
                console.log('se quiere mover el elemento '+ item.attr('item-id')+' al contenedor '+ container.el.attr('parent'));
                
                var newParent = container.el.attr('parent');
                if (currentParent != newParent) {
                    {# enviar ajax para modificar el padre del item #}
                    modifyItemParent(newParent, itemId);
                    
                }
                
            }
        }
        
        {# esta funcion permite enviar un ajax para modificar la prioridad de un item #}
        function modifyPriority(newPriority, itemId, reloadPage) {
            var success = false;
            $.ajax({
                type: 'POST',
                url: "{{path('backend_project_product_backlog_change_priority',{'id':project.id})}}",
                dataType: 'json',
                data: {itemId: itemId, priority: newPriority},
                async: false,
                success: function (r)
                {
                    if (r.result == '__OK__') {
                        success = true;
                        if (reloadPage) {
                            window.location.reload();
                        }
                    } else {
                        bootbox.alert(r.msg);
                    }
                },
                error: function (r)
                {
                    bootbox.alert("{{'backend.global.unknown_error'|trans}}")
                }
            });
            return success;
        }
        
        {# esta funcion permite enviar un ajax para modificar la el padre de un item #}
        function modifyItemParent(newParent, itemId) {
            $.ajax({
                type: 'POST',
                url: "{{path('backend_project_product_backlog_change_parent',{'id':project.id})}}",
                dataType: 'json',
                data: {itemId: itemId, newParent: newParent},
                async: false,
                success: function (r)
                {
                    if (r.result == '__OK__') {
                        window.location.reload();
                    } else {
                        bootbox.alert(r.msg);
                    }
                },
                error: function (r)
                {
                    bootbox.alert("{{'backend.global.unknown_error'|trans}}")
                }
            });
        }
        
        

       
        
    {% endblock %}
