{% extends 'BackendBundle:Default:main.html.twig' %}
{% block title %}{{'backend.sprint.backlog'|trans}}{% endblock %}
{% block content %}

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{'backend.sprint.backlog'|trans}}
                <a href="{{path('backend_project_product_backlog_new',{'id':project.id, 'sprintId':sprint.id})}}" class="btn btn-primary pull-right">{{'backend.item.new'|trans}}</a>
            </h1>

            {% set item2 = {'text': project.name, 'url':path('backend_projects_view',{'id':project.id}),'icon':'fa fa-dashboard'} %}
            {% set item3 = {'text': 'backend.sprint.sprints'|trans, 'url':path('backend_project_sprints',{'id':project.id}), 'icon':'fa fa-rotate-right'} %}
            {% set item4 = {'text': 'backend.sprint.backlog'|trans, 'icon':'fa fa-list'} %}
            {% set items = [item2, item3, item4] %}
            {{ filters.breadcrum(items) }}
        </div>
    </div>
    <!-- /.row -->
    {{ filters.showMessage('messageSuccess', 'success')}}
    {{ filters.showMessage('messageError', 'danger')}}

    <div class="row">
        <div class="col-lg-7 col-md-12 col-xs-12">
            <div id="container-burndown" style="max-width: 680px; height: 500px;"></div>
        </div>
        <div class="col-lg-5 col-md-12 col-xs-12">
            <legend>{{ 'backend.sprint.details'|trans }}</legend>
            
            <div class="form-group col-md-6 col-xs-6">
                <label>{{ 'backend.sprint.start_date'|trans }}</label>
                <p>{{sprint.startDate|date(project.settings.dateFormat)}}</p>
            </div>
            <div class="form-group col-md-6 col-xs-6">
                <label>{{ 'backend.sprint.estimated_date'|trans }}</label>
                <p>{{sprint.estimatedDate|date(project.settings.dateFormat)}}</p>
            </div>
            <div class="form-group col-md-6 col-xs-6">
                <label>{{ 'backend.sprint.weekends'|trans }}</label>
                <p>{{sprint.getTextWorkWeekends()|trans }}</p>
            </div>
            <div class="form-group col-md-6 col-xs-6">
                <label>{{ 'backend.sprint.status'|trans }}</label>
                <p>{{sprint.textStatus|trans}}</p>
            </div>
            <div class="form-group col-md-6 col-xs-6">
                <label>{{ 'backend.sprint.working_days'|trans }}</label>
                <p>{{sprint.getSprintDays|length}}</p>
            </div>
            <div class="form-group col-md-6 col-xs-6">
                <label>{{'backend.sprint.total_estimated'|trans}}</label>
                <p>{{ sprint.estimatedTime }} {{'backend.global.hours'|trans|lower}}</p>
            </div>
            <div class="form-group col-md-6 col-xs-6">
                <label>{{'backend.sprint.total_worked'|trans}}</label>
                <p>{{ sprint.workedTime }} {{'backend.global.hours'|trans|lower}}</p>
            </div>
            <div class="form-group col-md-6 col-xs-6">
                <label>{{'backend.sprint.remaining_work'|trans}}</label>
                <p>{{ sprint.remainingTime }} {{'backend.global.hours'|trans|lower}}</p>
            </div>
            
            <div class="form-group col-md-12 col-xs-12">
                {% if sprint.status == constant('BackendBundle\\Entity\\Sprint::STATUS_PLANNED') %}
                    <button type="button" class="btn btn-secondary btn-success modify-sprint-status" new-status="{{constant('BackendBundle\\Entity\\Sprint::STATUS_IN_PROCESS')}}">
                        {{'backend.sprint.start_sprint'|trans}}
                    </button>
                {% elseif sprint.status == constant('BackendBundle\\Entity\\Sprint::STATUS_IN_PROCESS') %}
                    <button type="button" class="btn btn-secondary btn-danger modify-sprint-status" new-status="{{constant('BackendBundle\\Entity\\Sprint::STATUS_STOPPED')}}">
                        {{'backend.sprint.stop_sprint'|trans}}
                    </button>
                    <button type="button" class="btn btn-secondary btn-success modify-sprint-status" new-status="{{constant('BackendBundle\\Entity\\Sprint::STATUS_FINISHED')}}">
                        {{'backend.sprint.finish_sprint'|trans}}
                    </button>
                {% elseif sprint.status == constant('BackendBundle\\Entity\\Sprint::STATUS_STOPPED') %}
                    <button type="button" class="btn btn-secondary btn-success modify-sprint-status" new-status="{{constant('BackendBundle\\Entity\\Sprint::STATUS_FINISHED')}}">
                        {{'backend.sprint.finish_sprint'|trans}}
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="rstable">
                
                <ol parent="{{constant('BackendBundle\\Entity\\Item::EMPTY_PARENT')}}" class="default vertical col-lg-12 col-md-12 col-xs-12">
                {% for item in sprintBacklog %}
                    
                    <li item-id='{{item.id}}' parent="{{constant('BackendBundle\\Entity\\Item::EMPTY_PARENT')}}" priority="{{item.priority|default(0)}}" class="backlog-item">
                        {{ filters.itemDescription(item, project, true, true) }}
                        {% if item.children is not empty %}
                            <ol parent='{{item.id}}' >
                                {% for firstChild in item.children %}
                                    <li item-id='{{firstChild.id}}' parent='{{item.id}}' priority="{{firstChild.priority|default(0)}}" class="backlog-item">
                                        {{ filters.itemDescription(firstChild, project, true, true) }}
                                        {% if firstChild.children is not empty %}
                                            <ol parent='{{firstChild.id}}'>
                                                {% for secondChild in firstChild.children %}
                                                    <li item-id='{{secondChild.id}}' parent='{{firstChild.id}}' priority="{{secondChild.priority|default(0)}}" class="backlog-item">
                                                        {{ filters.itemDescription(secondChild, project, true, true) }}
                                                        {% if secondChild.children is not empty %}
                                                            <ol parent='{{secondChild.id}}'>
                                                                {% for thirdChild in secondChild.children %}
                                                                    <li item-id='{{thirdChild.id}}' parent='{{secondChild.id}}' priority="{{thirdChild.priority|default(0)}}" class="backlog-item">
                                                                        {{ filters.itemDescription(thirdChild, project, true, true) }}
                                                                        {% if thirdChild.children is not empty %}
                                                                            <ol parent='{{thirdChild.id}}'>
                                                                                {% for fourtChild in thirdChild.children %}
                                                                                    <li item-id='{{fourtChild.id}}' parent='{{thirdChild.id}}' priority="{{fourtChild.priority|default(0)}}" class="backlog-item">
                                                                                        {{ filters.itemDescription(fourtChild, project, true, false) }}
                                                                                        {% if fourtChild.children is not empty %}
                                                                                            <ol parent='{{fourtChild.id}}'>
                                                                                                {% for fifthChild in fourtChild.children %}
                                                                                                    <li item-id='{{fifthChild.id}}' parent='{{fourtChild.id}}' priority="{{fifthChild.priority|default(0)}}" class="backlog-item">
                                                                                                        {{ filters.itemDescription(fifthChild, project, true, false) }}
                                                                                                    </li>
                                                                                                {% endfor %}
                                                                                            </ol>
                                                                                        {% endif %}
                                                                                    </li>
                                                                                {% endfor %}
                                                                            </ol>
                                                                        {% else %}
                                                                            <ol parent="{{thirdChild.id}}"></ol>
                                                                        {% endif %}
                                                                    </li>
                                                                {% endfor %}
                                                            </ol>
                                                        {% else %}
                                                            <ol parent="{{secondChild.id}}"></ol>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ol>
                                        {% else %}
                                            <ol parent="{{firstChild.id}}"></ol>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ol>
                        {% else %}
                            <ol parent="{{item.id}}"></ol>
                        {% endif %}
                    </li>
                {% endfor %}
                </ol>
                
                <div class="col-lg-12 col-md-12 col-xs-12 no-padding-right main-item">
                    <div class="col-xs-10 col-md-10 no-padding-left text-right">
                        {{'backend.sprint.total_estimated'|trans}}
                    </div>
                    <div class="col-xs-2 col-md-2 pull-right text-right">
                        {{ sprint.estimatedTime }}
                    </div>
                    <div class="col-xs-10 col-md-10 no-padding-left text-right">
                        {{'backend.sprint.total_worked'|trans}}
                    </div>
                    <div class="col-xs-2 col-md-2 pull-right text-right">
                        {{ sprint.workedTime }}
                    </div>
                    <div class="col-xs-10 col-md-10 no-padding-left text-right">
                        {{'backend.sprint.remaining_work'|trans}}
                    </div>
                    <div class="col-xs-2 col-md-2 pull-right text-right">
                        {{ sprint.remainingTime }}
                    </div>
                </div>
            </div>
        </div>
        {% if sprintBacklog|length > 0 %}
            <div class="col-lg-12">
                <a href="{{path('backend_project_product_backlog_new',{'id':project.id, 'sprintId':sprint.id})}}" class="btn btn-primary pull-right">{{'backend.item.new'|trans}}</a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block other_scripts %}
    <script src="{{ asset('bundles/backend/js/backlog-events.js') }}"></script>
{% endblock %}

{% block scripts %}
    
        {# Codigo para pintar la grafica Burn Down #}
        $('#container-burndown').highcharts({
            title: {
              text: "{{'backend.sprint.burndown_chart'|trans}} - {{sprint.name}}",
              x: -10 //center
            },
            scrollbar: {
                        barBackgroundColor: 'gray',
                        barBorderRadius: 7,
                        barBorderWidth: 0,
                        buttonBackgroundColor: 'gray',
                        buttonBorderWidth: 0,
                        buttonBorderRadius: 7,
                        trackBackgroundColor: 'none',
                        trackBorderWidth: 1,
                        trackBorderRadius: 8,
                        trackBorderColor: '#CCC'
                    },
            colors: ['blue', 'red'],
            plotOptions: {
              line: {
                lineWidth: 3
              },
              tooltip: {
                hideDelay: 200
              }
            },
            subtitle: {
              text: "{{'backend.sprint.sprint_progress_summary'|trans}}",
              x: -10
            },
            xAxis: {
              categories: {{listDays|json_encode()|raw}},
            },
            yAxis: {
              title: {
                text: "{{'backend.sprint.remaining_work'|trans}} ({{'backend.global.hours'|trans}})"
              },
                    type: 'linear',
                    max:{{sprint.estimatedTime}},
                    min:0,
                    tickInterval : parseInt({{sprint.estimatedTime}}/{{listDays|length}})
            },
            tooltip: {
              valueSuffix: " {{'backend.global.hours'|trans|lower}}",
              crosshairs: true,
              shared: true
            },
            legend: {
             layout: 'horizontal',
              align: 'center',
              verticalAlign: 'bottom',
              borderWidth: 0
            },
            series: [{
              name: "{{'backend.sprint.ideal_burn'|trans}}",
              color: 'rgba(255,0,0,0.25)',
              lineWidth: 2,

              data: {{idealArray|json_encode()|raw}}
            }, 
            
            {
              name: "{{'backend.sprint.actual_burn'|trans}}",
              color: 'rgba(0,120,200,0.75)',
              marker: {
                radius: 6
              },
              {% if sprint.status != constant('BackendBundle\\Entity\\Sprint::STATUS_PLANNED') %}
                data: {{actualArray|json_encode()}}
              {% else %}
                data: "{0}"
              {% endif %}
            }]
        });
        
        {# Codigo para cambiar el estado de un Sprint #}
        $(".modify-sprint-status").click(function() {
            var object = $(this);
            var newStatus = object.attr('new-status');
            
            var btnClass = '';
            var bootboxMessage = '';
            var sendButton = '';
            if (newStatus == {{constant('BackendBundle\\Entity\\Sprint::STATUS_IN_PROCESS')}}) {
                btnClass = 'btn-success';
                bootboxMessage = "{{'backend.sprint.start_sprint_message'|trans}}";
                sendButton = "{{'backend.sprint.start_sprint'|trans}}";
            } else if (newStatus == {{constant('BackendBundle\\Entity\\Sprint::STATUS_STOPPED')}}) {
                btnClass = 'btn-danger';
                bootboxMessage = "{{'backend.sprint.stop_sprint_message'|trans}}";
                sendButton = "{{'backend.sprint.stop_sprint'|trans}}";
            } else if (newStatus == {{constant('BackendBundle\\Entity\\Sprint::STATUS_FINISHED')}}) {
                btnClass = 'btn-success';
                bootboxMessage = "{{'backend.sprint.finish_sprint_message'|trans}}";
                sendButton = "{{'backend.sprint.finish_sprint'|trans}}";
            }
            
            bootbox.confirm({
                message: bootboxMessage,
                buttons: {
                    'cancel': {
                        label: '{{'backend.global.cancel' | trans}}',
                        className: 'btn-default'
                    },
                    'confirm': {
                        label: sendButton,
                        className: btnClass
                    }
                },
                callback: function (result) {

                    if (result == true)
                    {
                        $.ajax({
                            type: 'POST',
                            url: "{{path('backend_project_sprints_modify_status',{'id':project.id,'sprintId':sprint.id})}}",
                            dataType: 'json',
                            data: {status: newStatus},
                            success: function (r)
                            {
                                if (r.result == '__OK__') {
                                    window.location.reload();
                                } else {
                                    bootbox.alert(r.msg);
                                }
                            },
                            error: function (r)
                            {
                                bootbox.alert("{{'backend.global.unknown_error'|trans}}")
                            }
                        });
                    }
                }
            });
        });
        
        
        $(".move-to-product-backlog").click(function() {
            var object = $(this);
            var itemId = object.attr('item-id');
            
            bootbox.confirm({
                message: "{{'backend.item.move_to_product_backlog_message'|trans}}",
                buttons: {
                    'cancel': {
                        label: '{{'backend.global.cancel' | trans}}',
                        className: 'btn-default'
                    },
                    'confirm': {
                        label: "{{'backend.item.move_to_product_backlog'|trans}}",
                        className: 'btn-success'
                    }
                },
                callback: function (result) {
                    if (result == true)
                    {
                        $.ajax({
                            type: 'POST',
                            url: "{{path('backend_project_product_backlog_move_to_product_backlog',{'id':project.id}) }}",
                            dataType: 'json',
                            data: {itemId: itemId},
                            success: function (r)
                            {
                                if (r.result == '__OK__') {
                                    window.location.reload();
                                } else {
                                    bootbox.alert(r.msg);
                                }
                            },
                            error: function (r)
                            {
                                bootbox.alert("{{'backend.global.unknown_error'|trans}}")
                            }
                        });
                    }
                }
            });
        });
        
    {% endblock %}

    {% block functions_javascript %}
        
        var unknownErrorMessage = "{{'backend.global.unknown_error'|trans}}";
    
        var changePriorityTitle = "{{'backend.item.change_priority'|trans}}";
        var changePriorityLabel = "{{'backend.global.save_changes'|trans}}";
        var changePriorityCancel = "{{'backend.global.cancel'|trans}}";

        var modifyPriorityPath = "{{path('backend_project_product_backlog_change_priority',{'id':project.id})}}";

        var deleteItemPath = "{{path('backend_project_product_backlog_delete',{'id':project.id})}}";
        
        var deleteItemMessage = "{{'backend.item.removal_method_message'|trans}}<br><strong>1. {{'backend.item.cascade_delete'|trans}}: </strong>{{'backend.item.cascade_delete_message'|trans}}<br><strong>2. {{'backend.item.simple_delete'|trans}}: </strong>{{'backend.item.simple_delete_message'|trans}}";
        var deleteItemTitle = "{{'backend.item.delete'|trans}}";
        var cascadeDeleteLabel = "{{'backend.item.cascade_delete'|trans}}";
        var cascadeDeleteConstant = "{{constant('BackendBundle\\Entity\\Item::DELETE_CASCADE')}}";

        var simpleDeleteLabel = "{{'backend.item.simple_delete'|trans}}";
        var simpleDeleteConstant = "{{constant('BackendBundle\\Entity\\Item::DELETE_SIMPLE')}}";
        var cancelLabel = "{{'backend.global.cancel'|trans}}";
        
        var editEstimationHtmlPath = "{{path('backend_project_product_backlog_html_edit_estimation',{'id':project.id})}}";
        var editEstimationTitle = "{{'backend.item.edit_estimation'|trans}}";
        var editEstimationLabel = "{{'backend.global.save_changes'|trans}}";
        var editEstimationPath = "{{path('backend_project_product_backlog_edit_estimation',{'id':project.id})}}";
        
        var changeStatusHtmlPath = "{{path('backend_project_product_backlog_html_change_status',{'id':project.id})}}";
        var changeStatusTitle = "{{'backend.item.change_status'|trans}}";
        var saveChangesLabel = "{{'backend.global.save_changes'|trans}}";
        var changeStatusPath = "{{path('backend_project_product_backlog_change_status',{'id':project.id})}}";
        
        var modifyParentPath = "{{path('backend_project_product_backlog_change_parent',{'id':project.id})}}";
        
        var editWorkedTimeHtmlPath = "{{path('backend_project_product_backlog_html_edit_worked_time',{'id':project.id})}}";
        var workedTimeTitle = "{{'backend.item.edit_worked_time'|trans}}";
        var editWorkedTimePath = "{{path('backend_project_product_backlog_edit_worked_time',{'id':project.id})}}";
        
    {% endblock %}
