{% extends 'BackendBundle:Default:main.html.twig' %}
{% block title %}{{'backend.sprint.edit'|trans}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{'backend.sprint.edit'|trans}}
                <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default pull-right">{{'backend.global.back'|trans}}</a>
            </h1>

            {% set item2 = {'text': project.name, 'url':path('backend_projects_view',{'id':project.id}),'icon':'fa fa-dashboard'} %}
            {% set item3 = {'text': 'backend.sprint.sprints'|trans, 'url':path('backend_project_sprints',{'id':project.id}), 'icon':'fa fa-rotate-right'} %}
            {% set item4 = {'text': 'backend.sprint.edit'|trans, 'icon':'fa fa-pencil'} %}
            {% set items = [item2, item3, item4] %}
            {{ filters.breadcrum(items) }}
        </div>
    </div>

    <div class="row">
        {{ form_start(edit_form, {'action': path('backend_project_sprints_edit',{'id':project.id, 'sprintId':sprint.id}), 'method': 'POST'}) }}
        <div class="col-lg-7">
                <div class="form-group">
                    {{ form_label(edit_form.name)}}<em>*</em>
                    {{ form_widget(edit_form.name, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(edit_form.name) }}
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.isWorkingWeekends)}}
                    {{ form_widget(edit_form.isWorkingWeekends, {'attr':{'class':''}}) }}
                    {{ form_errors(edit_form.isWorkingWeekends) }}
                </div>
                <div class="form-group col-xs-6 no-padding-left">
                    {{ form_label(edit_form.startDate)}}
                    {{ form_widget(edit_form.startDate, {'attr':{'class':'date-selector-sm', 'style':'display:none;'}}) }}
                    {{ form_errors(edit_form.startDate) }}
                </div>
                <div class="form-group  col-xs-6 no-padding-right">
                    {{ form_label(edit_form.estimatedDate)}}
                    {{ form_widget(edit_form.estimatedDate, {'attr':{'class':'date-selector-sm', 'style':'display:none;'}}) }}
                    {{ form_errors(edit_form.estimatedDate) }}
                </div>
                <div class="form-group col-lg-6 col-md-6 col-xs-12 no-padding-left">
                    <div id='startDate'></div>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-xs-12 no-padding-right">
                    <div id='estimatedDate'></div>
                </div>
                
                <div class="form-group col-lg-12 col-md-12 col-xs-12">
                    <div class="col-md-6 col-xs-6 no-padding-left">
                    
                        {# Metemos en un arreglo de strings los dias del Sprint #}
                        {% set sprintDays = [] %}
                        {% for sprintDay in sprint.sprintDays %}
                            {% set sprintDays = sprintDays|merge([sprintDay.date|date('Y-m-d')]) %}
                        {% endfor %}
                        
                        {% set startDate = sprint.startDate|date('Y-m-d') %}
                        {% set endDate = sprint.estimatedDate|date('Y-m-d') %}
                        
                        {% set break = ((sprint.sprintDays|length)/ 2 + 1)|round  %}
                        
                        {% for x in range(startDate|date('U'), endDate|date('U'), 86400 ) %}
                            
                            <div class="checkbox">
                                <label>
                                    <input {% if x|date('Y-m-d') in sprintDays %}checked="checked"{% endif %} type="checkbox" name="{{ x|date('Y-m-d')}}" value="{{ x|date('Y-m-d') }}"><strong>{{loop.index}}</strong>. {{ x|date('D')}} {{ x|date(project.settings.dateFormat)}}
                                </label>
                            </div>
                            {% if loop.index == break %}
                                </div>
                                <div class="col-md-6 col-xs-6 no-padding-right">
                            {% endif %}    
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-group">
                    {{ form_label(edit_form.description)}}
                    {{ form_widget(edit_form.description, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(edit_form.description) }}
                </div>
            </div>
            <div class="col-lg-5 pull-right">
                {{ form_widget(edit_form._token) }} 
                <button type="submit"class="btn btn-primary pull-right">{{ 'backend.global.save_changes'|trans }}</button>
            </div>
            
            
            
            
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
{% block scripts %}
    singleHtmlEditor('textarea', 200);
    
    $('#startDate').datetimepicker({
        inline: true,
        format: 'DD/MM/YYYY',
        showTodayButton: true,
        date: "{{sprint.startDate|date('m/d/Y')}}"
    });

    $('#estimatedDate').datetimepicker({
        useCurrent: false,
        inline: true,
        format: 'DD/MM/YYYY',
        showTodayButton: true,
        date: "{{sprint.estimatedDate|date('m/d/Y')}}"
    });
    
    $("#startDate").on("dp.change", function (e) {
        $('#estimatedDate').data("DateTimePicker").minDate(e.date);
        var date1 = $('#startDate').data("DateTimePicker").date();
        $("#backendbundle_sprint_type_startDate_year").val(date1.format('Y'));
        $("#backendbundle_sprint_type_startDate_month").val(date1.format('M'));
        $("#backendbundle_sprint_type_startDate_day").val(date1.format('D'));
    });
    $("#estimatedDate").on("dp.change", function (e) {
        $('#startDate').data("DateTimePicker").maxDate(e.date);
        var date2 = $('#estimatedDate').data("DateTimePicker").date();
        $("#backendbundle_sprint_type_estimatedDate_year").val(date2.format('Y'));
        $("#backendbundle_sprint_type_estimatedDate_month").val(date2.format('M'));
        $("#backendbundle_sprint_type_estimatedDate_day").val(date2.format('D'));
    });
    
    $("#backendbundle_sprint_type_isWorkingWeekends").change(function(){
        var object = $(this);
        var workWeekends = object.is(":checked");
        var disabledDays = [];
        if (workWeekends) {
            disabledDays = [];
        } else {
            disabledDays = [0, 6];
        }
        $('#startDate').data("DateTimePicker").daysOfWeekDisabled(disabledDays);
        $('#estimatedDate').data("DateTimePicker").daysOfWeekDisabled(disabledDays);
    });
    
    $("#backendbundle_sprint_type_isWorkingWeekends").trigger('change');
{% endblock %}
