{% macro showMessage(key, type) %}
    {# success info danger warning #}
    {% for message in app.session.flashbag.get(key) %}
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-{{type}} alert-dismissable alert">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-info-circle"></i>  {{message|raw}}
                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% macro breadcrum(items)%}
    <ol class="breadcrumb">
        {% if items is empty %}
            <li class="active">
                <i class="fa fa-home"></i> {{'backend.global.home'|trans}}
            </li>
        {% endif %}

        {% for item in items %}
            <li {% if loop.last %}class="active"{% endif %}>
                {% if item.url is defined and item.url is not empty and item.url != '#' %}
                    <a href="{{item.url}}"><i class="{{item.icon}}"></i> {{item.text}}</a>
                {% else %}
                    <i class="{{item.icon}}"></i> {{item.text}}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endmacro %}

{% macro textListedItems(pagination) %}
    {% if pagination.getTotalItemCount > 0 %}
        {% set previousPage = pagination.getCurrentPageNumber() - 1 %}
        {% set itemsPerPage = pagination.getItemNumberPerPage %}
        {% set startItem = 0 %}

        {% set startItem = (previousPage * itemsPerPage) + 1 %}


        {% if (pagination.getCurrentPageNumber() * itemsPerPage) <= pagination.getTotalItemCount() %}
            {% set itemsOnPage = pagination.getCurrentPageNumber() * itemsPerPage %}
        {% else %}
            {% set itemsOnPage = pagination.getTotalItemCount() %}
        {% endif %}

        {{'backend.global.showing'|trans}} {{ startItem }} {{'backend.global.to'|trans}} {{ itemsOnPage }} {{'backend.global.of'|trans}} {{ pagination.getTotalItemCount }}
    {% endif %}
{% endmacro %}

{% macro sortIcon(key, pagination) %}
    {% set params = pagination.params %}

    {% if params.sort is defined %}

        {% if params.sort == key %}
            {% if params.direction == 'asc'%}
                <i class="fa fa-sort-asc"></i>
            {% else %}
                <i class="fa fa-sort-desc"></i>
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}  

{% macro itemDescription(item, project, sprint, moreItems) %}
    {% set dateFormat = project.settings.dateFormat %}
    <div class="list-group-item col-xs-12 {% if item.parent is empty %}custom-well{% endif %}">
        <div class="col-xs-10 col-md-10 no-padding-left">
            <div class="col-lg-12 col-md-12 col-xs-12 no-padding-sides">
                <strong>{{ item.getTextType()|trans }} # {{item.consecutive}}</strong>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 no-padding-sides">
                {% set edithPath = path('backend_project_product_backlog_edit',{'id':project.id, 'itemId':item.id}) %}
                {% if sprint is not empty %}
                    {% set edithPath = path('backend_project_product_backlog_edit',{'id':project.id, 'itemId':item.id, 'sprintId':sprint.id}) %}
                {% endif %}
                <a href="{{ edithPath }}" class="popover-menu" title="{{ item.title }}" content="{{item.description|raw}}">{{ item.title }}</a>
            </div>
            <hr class='hr'>
            <div class="col-lg-3 col-md-3 col-xs-6 no-padding-sides">
                <span title="{{ 'backend.item.status'|trans }}" class="{{item.getLabelClassByStatus()}}"><i class="fa fa-info-circle"></i> {{ item.textStatus|trans }}</span>
            </div>
            <div class="col-lg-9 col-md-9 col-xs-6 no-padding-sides">
                <span title="{{ 'backend.global.creation_date'|trans }}"><i class="fa fa-calendar"></i> {{ item.creationDate|date(dateFormat) }}</span>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 no-padding-sides small-margin-top">
                <span title="{{ 'backend.item.priority'|trans }}"><i class="fa fa-reorder"></i> <a class="container-priority" href="javascript:void(0);">{{ item.priority|default(0) }}</a></span>
                <span title="{{ 'backend.item.effort_estimation'|trans }}" class="span-effort"><i><img src="{{asset('bundles/backend/images/complexity.png')}}"/></i> {{item.getEffortEstimation()|default('~')}}</span>
            </div>
            <div class="col-lg-9 col-md-9 col-xs-6 no-padding-sides small-margin-top">
                <span title="{{ 'backend.item.designed_user'|trans }}">
                    <i class="fa fa-user"></i> 
                    {% if item.designedUser is not empty %}
                        {{ item.designedUser }}
                    {% else %}
                        <a href="#">{{'backend.item.assign_user'|trans}}</a>
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="col-xs-2 col-md-2 pull-right no-padding-sides">
            {% if sprint is not empty %}
                {% if item.type != constant('BackendBundle\\Entity\\Item::TYPE_USER_HISTORY') %}
                    <label title="{{'backend.item.worked_estimated_time'|trans}}" class="col-xs-12 text-right label-item-times">{{ item.workedHours|default(0) }} / {{ item.estimatedHours|default(0) }}</label>
                {% endif %}
                <div class="btn-group pull-right small-btn-group">
                    <a class="btn btn-default btn-sm border-radius-left" title="{{ 'backend.item.edit'|trans }}" href="{{ path('backend_project_product_backlog_edit',{'id':project.id, 'itemId':item.id, 'sprintId':sprint.id}) }}">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle border-radius-right" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% if moreItems %}
                            <li><a href="{{path('backend_project_product_backlog_new_related_item',{'id':project.id,'itemId':item.id})}}" class="create-related-item fancybox.iframe"><i class="fa fa-star-o"></i> {{'backend.item.create_related_item'|trans}}</a></li>
                            {% endif %}
                        <li class="disabled"><a href="#"><i class="fa fa-chain"></i> Relacionar a un item existente</a></li>
                        <li class="divider"></li>
                        <li class="disabled"><a href="#"><i class="fa fa-comment-o"></i> Agregar Comentario</a></li>
                        <li><a href="javascript:void(0);" class="change-status" item-id="{{item.id}}" status="{{item.status}}"><i class="fa fa-arrows-h"></i> {{ 'backend.item.change_status'|trans }}</a></li>
                        <li><a href="javascript:void(0);" class="change-priority" item-id="{{item.id}}" priority="{{item.priority|default(0)}}"><i class="fa fa-reorder"></i> {{'backend.item.change_priority'|trans}}</a></li>
                        <li><a href="javascript:void(0);" class="edit-estimation" item-id="{{item.id}}" estimation="{{item.estimatedHours|default(0)}}"><i class="fa fa-clock-o"></i> {{'backend.item.edit_estimation'|trans}}</a></li>
                        <li><a href="javascript:void(0);" class="edit-worked-time" item-id="{{item.id}}" worked-time="{{item.workedHours|default(0)}}"><i class="fa fa-clock-o"></i> {{'backend.item.edit_worked_time'|trans}}</a></li>
                        <li class="divider"></li>
                        <li class="disabled"><a href="#"><i class="fa fa-cut"></i> Mover a otro Sprint</a></li>
                        <li class="disabled"><a href="#"><i class="fa fa-copy"></i> Duplicar en otro Sprint</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0);" class="delete-item" item-id="{{item.id}}"><i class="fa fa-times"></i> {{'backend.global.delete'|trans}}</a></li>
                    </ul>
                </div>
            {% else %}
                <label class="col-xs-12 text-right label-item-times">{{ item.sprint.name }}</label>
            {% endif %}
        </div>
    </div>
{% endmacro %} 