<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li {% if menu is defined and menu == 'menu_home'%}class="active"{% endif %}>
            <a href="{{ path('backend_homepage') }}"><i class="fa fa-fw fa-home"></i> {{ 'backend.global.home'|trans }}</a>
        </li>
        <li {% if menu is defined and menu == 'menu_projects'%}class="active"{% endif %}>
            <a href="{{ path('backend_projects') }}"><i class="fa fa-fw fa-archive"></i> {{ 'backend.project.projects'|trans }}</a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Template Examples <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse">
                <li>
                    <a href="{{ path('backend_dashboard') }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('backend_blank_page') }}"><i class="fa fa-fw fa-file"></i> Blank Page</a>
                </li>
                <li>
                    <a href="{{ path('backend_charts') }}"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                </li>
                <li>
                    <a href="{{ path('backend_tables') }}"><i class="fa fa-fw fa-table"></i> Tables</a>
                </li>
                <li>
                    <a href="{{ path('backend_forms') }}"><i class="fa fa-fw fa-edit"></i> Forms</a>
                </li>
                <li>
                    <a href="{{ path('backend_bootstrap_grid') }}"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
                </li>
                <li>
                    <a href="{{ path('backend_bootstrap_elements') }}"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
                </li>
            </ul>
        </li>
        
    </ul>
</div>