<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li {% if menu is defined and menu == 'menu_home'%}class="active"{% endif %}>
            <a href="{{ path('backend_homepage') }}" title="{{ 'backend.global.home'|trans }}"><i class="fa fa-fw fa-home fa-2x"></i> <span class="nav-title hidden">{{ 'backend.global.home'|trans }}</span></a>
        </li>
        {% if project is defined and  project is not empty and project.id is not empty %}
            <li {% if menu is defined and menu == 'menu_projects' %}class="active"{% endif %}>
                <a href="{{ path('backend_projects_view', {'id':project.id }) }}" title="{{ project }}" ><i class="fa fa-fw fa-dashboard fa-2x"></i> <span class="nav-title hidden">{{ project }}</span></a>
                <ul id="project-menu">
                    <li {% if menu is defined and menu == 'menu_project_backlog' %}class="active"{% endif %}>
                        <a href="{{ path('backend_project_product_backlog', { 'id': project.id }) }}" title="{{ 'backend.backlog.product_backlog'|trans }}"><i class="fa fa-fw fa-list fa-2x"></i> <span class="nav-title hidden">{{ 'backend.backlog.product_backlog'|trans }}</span></a>
                    </li>
                    <li {% if menu is defined and menu == 'menu_project_sprints' %}class="active"{% endif %}>
                        <a href="{{ path('backend_project_sprints',{'id':project.id}) }}" title="{{ 'backend.sprint.sprints'|trans }}"><i class="fa fa-fw fa-rotate-right fa-2x"></i> <span class="nav-title hidden">{{ 'backend.sprint.sprints'|trans }}</span></a>
                    </li>
                    <li {% if menu is defined and menu == 'menu_project_reports' %}class="active"{% endif %}>
                        <a href="{{ path('backend_project_reports',{'id':project.id}) }}"><i class="fa fa-fw fa-file fa-2x" title="{{ 'backend.report.reports'|trans }}"></i> <span class="nav-title hidden">{{ 'backend.report.reports'|trans }}</span></a>
                    </li>
                    <li {% if menu is defined and menu == 'menu_project_team' %}class="active"{% endif %}>
                        <a href="{{ path('backend_project_team', { 'id': project.id }) }}" title="{{ 'backend.user_project.project_team'|trans }}"><i class="fa fa-fw fa-users fa-2x"></i> <span class="nav-title hidden">{{ 'backend.user_project.project_team'|trans }}</span></a>
                    </li>
                    <li {% if menu is defined and menu == 'menu_project_settings' %}class="active"{% endif %}>
                        <a href="{{ path('backend_projects_edit', { 'id': project.id }) }}" title="{{ 'backend.project.settings'|trans }}"><i class="fa fa-fw fa-cogs fa-2x"></i> <span class="nav-title hidden">{{ 'backend.project.settings'|trans }}</span></a>
                    </li>
                    <li {% if menu is defined and menu == 'menu_project_binnacle' %}class="active"{% endif %}>
                        <a href="{{ path('backend_projects_binnacle', { 'id': project.id }) }}" title="{{ 'backend.binnacle.binnacle'|trans }}"><i class="fa fa-fw fa-list-ol fa-2x"></i> <span class="nav-title hidden">{{ 'backend.binnacle.binnacle'|trans }}</span></a>
                    </li>
                </ul>
            </li>
        {% else %}
            <li {% if menu is defined and menu == 'menu_projects'%}class="active"{% endif %}>
                <a href="{{ path('backend_projects') }}" title="{{ 'backend.project.projects'|trans }}"><i class="fa fa-fw fa-archive fa-2x"></i> <span class="nav-title hidden">{{ 'backend.project.projects'|trans }}</span></a>
            </li>
            {#<li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v fa-2x"></i> <span class="nav-title hidden">Template Examples</span> <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="{{ path('backend_dashboard') }}"><i class="fa fa-fw fa-dashboard fa-2x"></i> <span class="nav-title hidden">Dashboard</span></a>
                    </li>
                    <li>
                        <a href="{{ path('backend_blank_page') }}"><i class="fa fa-fw fa-file fa-2x"></i> <span class="nav-title hidden">Blank Page</span></a>
                    </li>
                    <li>
                        <a href="{{ path('backend_charts') }}"><i class="fa fa-fw fa-bar-chart-o fa-2x"></i> <span class="nav-title hidden">Charts</span></a>
                    </li>
                    <li>
                        <a href="{{ path('backend_tables') }}"><i class="fa fa-fw fa-table fa-2x"></i> <span class="nav-title hidden">Tables</span></a>
                    </li>
                    <li>
                        <a href="{{ path('backend_forms') }}"><i class="fa fa-fw fa-edit fa-2x"></i> <span class="nav-title hidden">Forms</span></a>
                    </li>
                    <li>
                        <a href="{{ path('backend_bootstrap_grid') }}"><i class="fa fa-fw fa-wrench fa-2x"></i> <span class="nav-title hidden">Bootstrap Grid</span></a>
                    </li>
                    <li>
                        <a href="{{ path('backend_bootstrap_elements') }}"><i class="fa fa-fw fa-desktop fa-2x"></i> <span class="nav-title hidden">Bootstrap Elements</span></a>
                    </li>
                </ul>
            </li>#}
        {% endif %}
        <li {% if menu is defined and menu == 'menu_time_tracking'%}class="active"{% endif %}>
            <a href="{{ path('backend_time_tracking') }}" title="{{ 'backend.time_tracking.time_tracking'|trans }}"><i class="fa fa-fw fa-clock-o fa-2x"></i> <span class="nav-title hidden">{{ 'backend.time_tracking.time_tracking'|trans }}</span></a>
        </li>
    </ul>
</div>