{% extends 'BackendBundle:Default:main.html.twig' %}
{% block title %}{{'backend.item.edit'|trans}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{'backend.item.edit'|trans}}
                <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default pull-right">{{'backend.global.back'|trans}}</a>
            </h1>

            {% set item2 = {'text': project.name, 'url':path('backend_projects_view',{'id':project.id}),'icon':'fa fa-dashboard'} %}
            {% set item3 = {'text': 'backend.backlog.product_backlog'|trans, 'url':path('backend_project_product_backlog',{'id':project.id}), 'icon':'fa fa-list'} %}
            {% set item4 = {'text': 'backend.item.edit'|trans, 'icon':'fa fa-pencil'} %}
            {% set items = [item2, item3, item4] %}
            {{ filters.breadcrum(items) }}
        </div>
    </div>

    <div class="row">
        {% set form_params = {'id':project.id, 'itemId':item.id} %}
        {% if app.request.get('sprintId') is not empty %}
            {% set  form_params = form_params|merge({'sprintId':app.request.get('sprintId')}) %}
        {% endif %}

        {{ form_start(edit_form, {'action': path('backend_project_product_backlog_edit',form_params), 'method': 'POST'}) }}
        <div class="col-lg-12 no-padding-sides">
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="form-group">
                    {{ form_label(edit_form.type)}}<em>*</em>
                    {{ form_widget(edit_form.type, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(edit_form.type) }}
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.title)}}<em>*</em>
                    {{ form_widget(edit_form.title, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(edit_form.title) }}
                </div>
                <div class="form-group">
                    <div class="col-xs-11" style="padding-left: 0px;">
                        {{ form_label(edit_form.priority)}}
                        {{ form_widget(edit_form.priority, {'attr':{'style':'cursor:pointer;','onchange':'rangevalue.value=value'},}) }}
                    </div>
                    <output class="alert alert-box col-xs-1 text-center pull-right no-margin-bottom" id="rangevalue">{{item.priority|default(0)}}</output>
                </div>
                <div class="form-group col-xs-6 no-padding-left">
                    {{ form_label(edit_form.designedUser)}}
                    {{ form_widget(edit_form.designedUser, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(edit_form.designedUser) }}
                </div>
                <div class="form-group col-xs-6 no-padding-right">
                    {{ form_label(edit_form.status)}}
                    {{ form_widget(edit_form.status, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(edit_form.status) }}
                </div>
                {% set displayFibonacci = true %}
                {% if project.effortEstimationMethod != constant('BackendBundle\\Entity\\Project::METHOD_FIBONACCI')%}
                    {% set displayFibonacci = false %}
                {% endif  %}
                <div class="form-group col-xs-6 no-padding-left" {% if not displayFibonacci %}style="display: none;"{% endif %}>
                    {{ form_label(edit_form.effortFibonacci)}}
                    {{ form_widget(edit_form.effortFibonacci, {'attr':{'class':'form-control only_numbers_decimal'}}) }}
                    {{ form_errors(edit_form.effortFibonacci) }}
                </div>
                {% set displayTShirt = true %}
                {% if project.effortEstimationMethod != constant('BackendBundle\\Entity\\Project::METHOD_TSHIRT_SIZE')%}
                    {% set displayTShirt = false %}
                {% endif %}
                <div class="form-group col-xs-6 no-padding-left" {% if not displayTShirt %}style="display: none;"{% endif %}>
                    {{ form_label(edit_form.effortTShirt)}}
                    {{ form_widget(edit_form.effortTShirt, {'attr':{'class':'form-control only_numbers_decimal'}}) }}
                    {{ form_errors(edit_form.effortTShirt) }}
                </div>
                <div class="form-group col-xs-6 no-padding-right estimation">
                    {{ form_label(edit_form.estimatedHours)}}
                    {{ form_widget(edit_form.estimatedHours, {'attr':{'class':'form-control only_numbers_decimal'}}) }}
                    {{ form_errors(edit_form.estimatedHours) }}
                </div>
                <div class="form-group col-xs-6 no-padding-left estimation">
                    {{ form_label(edit_form.workedHours)}}
                    {{ form_widget(edit_form.workedHours, {'attr':{'class':'form-control only_numbers_decimal'}}) }}
                    {{ form_errors(edit_form.workedHours) }}
                </div>
                <div class="form-group col-xs-6 no-padding-right">
                    {{ form_label(edit_form.sprint)}}
                    {{ form_widget(edit_form.sprint, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(edit_form.sprint) }}
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="form-group">
                    {{ form_label(edit_form.description)}}
                    {{ form_widget(edit_form.description, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(edit_form.description) }}
                </div>
            </div>
        </div>
        <div class="col-lg-12 no-padding-sides">
            <div class="col-lg-6 col-md-12 col-xs-12">
                <legend>{{'backend.item_history.history'|trans}}</legend>
                <div class="form-group no-margin-bottom">
                    <table class="table table-bordered no-margin-bottom">
                        <tr id="table-header">
                            <th width="100px;">{{'backend.global.date'|trans}}</th>
                            <th>{{'backend.item_history.event'|trans}}</th>
                            <th width="100px;">{{'backend.global.user'|trans}}</th>
                        </tr>
                    </table>
                </div>
                <div class="form-group" style="max-height: 250px; height: 250px; overflow-y: auto;">
                    <table class="table table-bordered table-hover">
                        {% for event in itemHistory %}
                            <tr>
                                <td width="100px;">
                                    {{event.date|date(project.settings.dateFormat)}}<br>
                                    {{event.date|date(project.settings.hourFormat)}}
                                </td>
                                <td>
                                    {{ event.getTextAction|trans ~event.actionSufix }}
                                    {% if event.additionalData is not empty %}
                                        {% set data = event.additionalData|json_decode %}
                                        <table class="table table-striped">
                                            <tr>
                                                <th width="50%">{{'backend.item_history.before'|trans}}</th>
                                                <th width="50%">{{'backend.item_history.after'|trans}}</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{ data.before|default('~')|raw }}
                                                </td>
                                                <td>
                                                    {{ data.after|default('~')|raw }}
                                                </td>
                                            </tr>
                                        </table>
                                    {% endif %}
                                </td>
                                <td width="100px;">
                                    {{event.userOwner}}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">{{'backend.item_history.empty_list'|trans}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-xs-12">
                <legend>{{'backend.attachment.attachments'|trans}}</legend>
                <div class="form-group alert alert-info">
                    <label>{{'backend.attachment.upload_files'|trans}}</label>
                    <input type="file" id="uploadfiles" multiple="multiple"/><br>
                    <div class="progress" id="progress-bar" style="display: none;">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div>
                    <p id="upload-message"></p>
                </div>
                <div class="form-group">
                    <table class="table table-bordered table-attachments">
                        <tr id="table-header">
                            <th>{{'backend.attachment.file_name'|trans}}</th>
                            <th>{{'backend.attachment.file_information'|trans}}</th>
                            <th width="86px">{{'backend.global.options'|trans}}</th>
                        </tr>
                        {% for attach in attachments %}
                            <tr>
                                <td>
                                    {% if attach.isAudioFile %}
                                        <audio controls>
                                            <source src="{{ asset('uploads/items/'~attach.filePath)}}" type="audio/{{attach.fileExtension}}">
                                            {{'backend.attachment.no_support_audio'|trans}}
                                        </audio>
                                    {% elseif attach.isVideoFile %}
                                        <video controls>
                                            <source src="{{ asset('uploads/items/'~attach.filePath)}}" type="video/{{attach.fileExtension}}">
                                            {{'backend.attachment.no_support_video'|trans}}
                                            <!-- You can embed a Flash player here, to play your mp4 video in older browsers -->
                                        </video>
                                    {% elseif attach.isImageFile %}
                                        <a class="fancybox" href="{{asset('uploads/items/'~attach.filePath)}}">
                                            <img class="thumbnail" src="{{ asset('uploads/items/'~attach.filePath) | imagine_filter('thumbnail_120_90')}}"/>
                                        </a>
                                    {% else %}
                                        <i class="fa fa-file fa-5x" title="{{'backend.attachment.preview_no_available'|trans}}"></i>
                                    {% endif %}
                                    <p>{{ attach }}</p>
                                </td>
                                <td>
                                    <p title="{{'backend.attachment.file_extension'|trans}}"><i class="fa fa-file-o"></i> {{ attach.fileExtension }}</p>
                                    <p title="{{'backend.attachment.uploader'|trans}}"><i class="fa fa-user"></i> {{ attach.userOwner }}</p>
                                    <p title="{{'backend.attachment.upload_date'|trans}}"><i class="fa fa-calendar"></i> {{ attach.uploadDate|date(project.settings.fullDateFormat) }}</p>
                                </td>
                                <td>
                                    <a href="{{ asset('uploads/items/'~attach.filePath)}}" download class="btn btn-success btn-sm"><i class="fa fa-download"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-danger btn-sm pull-right delete-attach" attach-id="{{attach.id}}"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">
                                    {{'backend.attachment.empty_list'|trans}}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            {{ form_widget(edit_form._token) }} 
            <button type="submit"class="btn btn-primary pull-right">{{ 'backend.global.save_changes'|trans }}</button>
        </div>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
{% block scripts %}
        singleHtmlEditor('textarea', 200);

        var uploadfiles = $('#uploadfiles');

        $('#uploadfiles').change(function () {
            var files = this.files;
            for (var i = 0; i < files.length; i++) {
                uploadFile(this.files[i]);
            }
        });

        $(".table-attachments").on("click", ".delete-attach", function () {
            var object = $(this);
            var attachId = object.attr('attach-id');
            bootbox.confirm({
                message: "{{'backend.attachment.delete_warning'|trans}}",
                buttons: {
                    'cancel': {
                        label: '{{'backend.global.cancel' | trans}}',
                        className: 'btn-default'
                    },
                    'confirm': {
                        label: '{{'backend.attachment.delete_file' | trans}}',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {

                    if (result == true)
                    {
                        $.ajax({
                            type: 'POST',
                            url: "{{path('backend_project_product_backlog_delete_attachment',{'id':project.id})}}",
                            dataType: 'json',
                            data: {attachId: attachId},
                            success: function (r)
                            {
                                if (r.result == '__OK__') {
                                    object.parent().parent().remove();
                                } else {
                                    bootbox.alert(r.msg);
                                }
                            },
                            error: function (r)
                            {
                                bootbox.alert("{{'backend.global.unknown_error'|trans}}")
                            }
                        });
                    }
                }
            });
        });
        
        {# Codigo para ocultar los divs de tiempo estimado y trabajado cuando se trata de una historia de usuario #}
        $("#backendbundle_item_type_type").change(function(){
            var itemType = $(this).val();
            if (itemType != "{{constant('BackendBundle\\Entity\\Item::TYPE_USER_HISTORY')}}") {
                $(".estimation").css('display','');
            } else {
                $(".estimation").css('display','none');
            }
        });
        $("#backendbundle_item_type_type").trigger('change');

    {% endblock %}

    {% block functions_javascript %}
        /**
         * Upload a file
         * @param file
         */
        function uploadFile(file) {
            var url = "{{path('backend_project_product_backlog_upload_attachment',{'id':project.id, 'itemId':item.id})}}";
            var xhr = new XMLHttpRequest();
            var fd = new FormData();
            $("#progress-bar").toggle();
            $("#upload-message").html('');
            xhr.open("POST", url, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var response = JSON.parse(xhr.responseText);
                    $("#upload-message").html(response.msg);
                    $("#progress-bar").toggle();
                    if (response.result == "__OK__") {
                        $("#upload-message").attr('class', 'success');
                        $("#table-header").after(response.html);
                        $("#uploadfiles").val('');
                    } else {
                        $("#upload-message").attr('class', 'danger');
                    }
                }
            };
            fd.append('uploaded_file', file);
            xhr.send(fd);
        }
    {% endblock %}


