{% extends 'BackendBundle:Default:main.html.twig' %}
{% block title %}{{'backend.backlog.product_backlog'|trans}}{% endblock %}

{% block content %}

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{'backend.backlog.product_backlog'|trans}}
                <a href="{{path('backend_project_product_backlog_new',{'id':project.id})}}" class="btn btn-primary pull-right">{{'backend.item.new'|trans}}</a>
            </h1>

            {% set item1 = {'text': 'backend.project.projects'|trans, 'url':path('backend_projects'),'icon':'fa fa-archive'} %}
            {% set item2 = {'text': project.name, 'url':path('backend_projects_view',{'id':project.id}),'icon':'fa fa-dashboard'} %}
            {% set item3 = {'text': 'backend.backlog.product_backlog'|trans, 'icon':'fa fa-list'} %}
            {% set items = [item1, item2, item3] %}
            {{ filters.breadcrum(items) }}
        </div>
    </div>
    <!-- /.row -->
    {{ filters.showMessage('messageSuccess', 'success')}}
    {{ filters.showMessage('messageError', 'danger')}}

    <div class="row">
        <div class="col-md-6">
            <div class="input-group" id="adv-search">
                <form class="form-horizontal" role="form" method="post">
                    {{ form_widget(searchForm.item_free_text, {'attr':{'class':'form-control main-search', 'value':pagination.params.item_free_text|default('')}})}}
                    <div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <div class="dropdown dropdown-lg">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <div class="form-group">
                                        {{ form_label(searchForm.item_type)}}
                                        {{ form_widget(searchForm.item_type, {'attr':{'class':'form-control'}})}}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(searchForm.item_designed_user)}}
                                        {{ form_widget(searchForm.item_designed_user, {'attr':{'class':'form-control'}})}}
                                    </div>
                                    <button type="reset" class="btn btn-danger pull-left" title="{{'backend.global.clear_search'|trans}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                    <button type="submit" class="btn btn-primary pull-right" title="{{'backend.global.search'|trans}}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </div>
                            </div>
                            {{ form_widget(searchForm._token) }} 
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true" title="{{'backend.global.search'|trans}}"></span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 text-right">
            {{ filters.textListedItems(pagination) }}
        </div>
    </div>

    {% set dateFormat = project.settings.dateFormat %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover no-margin-bottom">
            <tr>
                <th>#</th>
                <th width="40%">
                    {{ knp_pagination_sortable(pagination, 'backend.item.title'|trans, 'i.title') }}
                    {{ filters.sortIcon('i.title', pagination) }} 
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'backend.item.type'|trans, 'i.type') }}
                    {{ filters.sortIcon('i.type', pagination) }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'backend.global.creation_date'|trans, ['i.creationDate']) }}
                    {{ filters.sortIcon('i.creationDate', pagination) }} 
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'backend.item.priority'|trans, ['i.priority']) }}
                    {{ filters.sortIcon('i.priority', pagination) }} 
                </th>
                <th>{{ 'backend.global.options'|trans }}</th>
            </tr>

            {% for item in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td><a href="{{ path('backend_project_product_backlog_edit',{'id':project.id, 'itemId':item.id}) }}">{{item.consecutive}}</a></td>
                    <td><a href="{{ path('backend_project_product_backlog_edit',{'id':project.id, 'itemId':item.id}) }}" class="popover-menu" title="{{ item.title }}" content="{{item.description|raw}}">{{ item.title }}</a></td>
                    <td>{{ item.getTextType()|trans }}</td>
                    <td>{{ item.creationDate|date(dateFormat) }}</td>
                    <td>{{ item.priority|default(0) }}</td>
                    <td>
                        <a class="btn btn-default btn-sm" title="{{ 'backend.project.details'|trans }}" href="#">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-default btn-sm" title="{{ 'backend.project.edit'|trans }}" href="{{ path('backend_project_product_backlog_edit',{'id':project.id, 'itemId':item.id}) }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">{{'backend.backlog.empty_list'|trans}}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="navigation pull-right">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    $("#backendbundle_search_item_type_item_type").val("{{ pagination.params.item_type|default('')}}");
    $("#backendbundle_search_item_type_item_designed_user").val("{{ pagination.params.item_designed_user|default('')}}");
{% endblock %}
