{% extends 'BackendBundle:Default:main.html.twig' %}
{% block title %}{{'backend.item.new'|trans}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{'backend.item.new'|trans}}
                <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default pull-right">{{'backend.global.back'|trans}}</a>
            </h1>
            
            {% set item2 = {'text': project.name, 'url':path('backend_projects_view',{'id':project.id}),'icon':'fa fa-dashboard'} %}
            
            {% if app.request.get('sprintId') is empty %}
                {% set item3 = {'text': 'backend.backlog.product_backlog'|trans, 'url':path('backend_project_product_backlog',{'id':project.id}), 'icon':'fa fa-list'} %}
                {% set item4 = {'text': 'backend.item.new'|trans, 'icon':'fa fa-star-o'} %}
                {% set items = [item2, item3, item4] %}
            {% else %}
                {% set item3 = {'text': 'backend.sprint.sprints'|trans, 'url':path('backend_project_sprints',{'id':project.id}), 'icon':'fa fa-rotate-right'} %}
                {% set item4 = {'text': item.sprint, 'url':path('backend_project_sprints_backlog',{'id':project.id,'sprintId':item.sprint.id}),'icon':'fa fa-list'} %}
                {% set item5 = {'text': 'backend.item.new'|trans, 'icon':'fa fa-star-o'} %}
                {% set items = [item2, item3, item4, item5] %}
            {% endif %}
            
            
            {{ filters.breadcrum(items) }}
        </div>
    </div>
        
    <div class="row">
        {% set form_params = {'id':project.id} %}
        {% if app.request.get('sprintId') is not empty %}
            {% set  form_params = form_params|merge({'sprintId':app.request.get('sprintId')}) %}
        {% endif %}
        {{ form_start(form, {'action': path('backend_project_product_backlog_new', form_params), 'method': 'POST'}) }}
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="form-group">
                    {{ form_label(form.type)}}<em>*</em>
                    {{ form_widget(form.type, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.type) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.title)}}<em>*</em>
                    {{ form_widget(form.title, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.title) }}
                </div>
                <div class="form-group">
                    <div class="col-xs-10 no-padding-left">
                        {{ form_label(form.priority)}}
                        {{ form_widget(form.priority, {'attr':{'style':'cursor:pointer;','onchange':'rangevalue.value=value','onmousemove':'rangevalue.value=value','onkeyup':'rangevalue.value=value'},}) }}
                        <div class="col-lg-12 col-md-12 col-xs-12 no-padding-sides" style="margin-bottom: 18px;">
                            <span class="pull-left green-color">{{'backend.global.low'|trans}}</span>
                            <span class="pull-right red-color">{{'backend.global.high'|trans}}</span>
                        </div>
                    </div>
                    <output class="alert alert-box col-xs-2 text-center pull-right no-margin-bottom" id="rangevalue">{{item.priority|default(50)}}</output>
                </div>
                <div class="form-group col-xs-6 no-padding-left">
                    {{ form_label(form.designedUser)}}
                    {{ form_widget(form.designedUser, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.designedUser) }}
                </div>
                <div class="form-group  col-xs-6 no-padding-right">
                    {{ form_label(form.status)}}
                    {{ form_widget(form.status, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.status) }}
                </div>
                {% set displayFibonacci = true %}
                {% if project.effortEstimationMethod != constant('BackendBundle\\Entity\\Project::METHOD_FIBONACCI')%}
                    {% set displayFibonacci = false %}
                {% endif  %}
                <div class="form-group col-xs-6 no-padding-left" {% if not displayFibonacci %}style="display: none;"{% endif %}>
                    {{ form_label(form.effortFibonacci)}}
                    {{ form_widget(form.effortFibonacci, {'attr':{'class':'form-control only_numbers_decimal'}}) }}
                    {{ form_errors(form.effortFibonacci) }}
                </div>
                {% set displayTShirt = true %}
                {% if project.effortEstimationMethod != constant('BackendBundle\\Entity\\Project::METHOD_TSHIRT_SIZE')%}
                    {% set displayTShirt = false %}
                {% endif %}
                <div class="form-group col-xs-6 no-padding-left" {% if not displayTShirt %}style="display: none;"{% endif %}>
                    {{ form_label(form.effortTShirt)}}
                    {{ form_widget(form.effortTShirt, {'attr':{'class':'form-control only_numbers_decimal'}}) }}
                    {{ form_errors(form.effortTShirt) }}
                </div>
                <div class="form-group col-xs-6 no-padding-right estimation">
                    {{ form_label(form.estimatedHours)}}
                    {{ form_widget(form.estimatedHours, {'attr':{'class':'form-control only_numbers_decimal'}}) }}
                    {{ form_errors(form.estimatedHours) }}
                </div>
                <div class="form-group  col-xs-6 no-padding-left estimation">
                    {{ form_label(form.workedHours)}}
                    {{ form_widget(form.workedHours, {'attr':{'class':'form-control only_numbers_decimal'}}) }}
                    {{ form_errors(form.workedHours) }}
                </div>
                <div class="form-group col-xs-6 no-padding-right">
                    {{ form_label(form.sprint)}}
                    {{ form_widget(form.sprint, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.sprint) }}
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="form-group">
                    {{ form_label(form.description)}}
                    {{ form_widget(form.description, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.description) }}
                </div>
            </div>
        
            <div class="col-lg-12">
                {{ form_widget(form._token) }} 
                <button type="submit"class="btn btn-primary pull-right">{{ 'backend.global.create'|trans }}</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block scripts %}
    singleHtmlEditor('textarea', 200);
    
    {% if app.request.get('sprintId') is not empty %}
        $("#backendbundle_item_type_sprint").val("{{app.request.get('sprintId')}}");
    {% endif %}
    
    {# Codigo para ocultar los divs de tiempo estimado y trabajado cuando se trata de una historia de usuario #}
    $("#backendbundle_item_type_type").change(function(){
        var itemType = $(this).val();
        if (itemType != "{{constant('BackendBundle\\Entity\\Item::TYPE_USER_HISTORY')}}") {
            $(".estimation").css('display','');
        } else {
            $(".estimation").css('display','none');
        }
    });
    $("#backendbundle_item_type_type").trigger('change');
    
    
{% endblock %}