{% extends 'FrontendBundle:Default:main.html.twig'  %}
{% block title %}{{'frontend.pages.create_account'|trans}} - Agile SCRUM{% endblock %}
{% block content_header %}
    {#    <header class="intro-header" style="background-image: url('{{asset('bundles/frontend/img/contact-bg.jpg')}}')">#}
    <header class="intro-header" style="background-image: url('{{asset('bundles/frontend/img/scrum4.jpg')}}'); background-position-y: 50px; margin-bottom: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>{{'frontend.create_account.slider_text'|trans}}</h1>
                        {#<hr class="small">
                        <span class="subheading">Have questions? I have answers (maybe).</span>#}
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    
    {{ filters.showMessage('messageFrontendSuccess', 'success')}}
    {{ filters.showMessage('messageFrontendError', 'danger')}}
    
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>{{'frontend.create_account.legend'|trans}}</p>
        
        {{ form_start(form, {'action': path('frontend_create_account'), 'method': 'POST', 'id':'contactForm'}) }}

        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                {{ form_label(form.name)}}
                {{ form_widget(form.name, {'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.name) }}
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                {{ form_label(form.lastname)}}
                {{ form_widget(form.lastname, {'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.lastname) }}
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                {{ form_label(form.email)}}
                {{ form_widget(form.email.first, {'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.email.first) }}
            </div>
            <div class="form-group col-xs-12 floating-label-form-group controls">
                {{ form_label(form.email.second)}}
                {{ form_widget(form.email.second, {'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.email.second) }}
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                {{ form_label(form.password)}}
                {{ form_widget(form.password.first, {'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.password.first) }}
            </div>
            <div class="form-group col-xs-12 floating-label-form-group controls">
                {{ form_label(form.password.second)}}
                {{ form_widget(form.password.second, {'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.password.second) }}
            </div>
        </div>
        <br>
        <div id="success"></div>
        <div class="row">
            <div class="form-group col-xs-12">
                {{ form_widget(form._token) }} 
                {{ form_widget(form.submit, {'attr':{'class':'btn btn-default'}}) }} 
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}