{% extends 'FrontendBundle:Default:main.html.twig'  %}
{% block title %}{{'frontend.pages.features'|trans}} - Agile SCRUM{% endblock %}
{% block content_header %}
    {#    <header class="intro-header" style="background-image: url('{{asset('bundles/frontend/img/about-bg.jpg')}}')">#}
    <header class="intro-header" style="background-image: url('{{asset('bundles/frontend/img/scrum2.png')}}'); height: 500px; margin-bottom: 30px; background-position-y: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>&nbsp;</h1>
                        {#<hr class="small">
                        <span class="subheading">This is what I do.</span>#}
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-preview">
            <legend class="text-center">
                {{'frontend.features.legend'|trans}}
            </legend>
        </div>

        <div class="post-preview">
            <h2>{{'frontend.features.title_1'|trans}}</h2>
            <ul>
                <li>{{'frontend.features.text_1_1'|trans}}</li>
                <li>{{'frontend.features.text_1_2'|trans}}</li>
                <li>{{'frontend.features.text_1_3'|trans}}</li>
                <li>{{'frontend.features.text_1_4'|trans}}</li>
            </ul>
        </div>

        <div class="post-preview">
            <h2>{{'frontend.features.title_2'|trans}}</h2>
            <ul>
                <li>{{'frontend.features.text_2_1'|trans}}</li>
                <li>{{'frontend.features.text_2_2'|trans}}</li>
                <li>{{'frontend.features.text_2_3'|trans}}</li>
                <li>{{'frontend.features.text_2_4'|trans}}</li>
                <li>{{'frontend.features.text_2_5'|trans}}</li>
                <li>{{'frontend.features.text_2_6'|trans}}</li>
                <li>{{'frontend.features.text_2_7'|trans}}</li>
            </ul>
        </div>

        <div class="post-preview">
            <h2>{{'frontend.features.title_3'|trans}}</h2>
            <ul>
                <li>{{'frontend.features.text_3_1'|trans}}</li>
                <li>{{'frontend.features.text_3_2'|trans}}</li>
                <li>{{'frontend.features.text_3_3'|trans}}</li>
                <li>{{'frontend.features.text_3_4'|trans}}</li>
                <li>{{'frontend.features.text_3_5'|trans}}</li>
                <li>{{'frontend.features.text_3_6'|trans}}</li>
            </ul>
        </div>

        <div class="post-preview">
            <h2>{{'frontend.features.title_4'|trans}}</h2>
            <ul>
                <li>{{'frontend.features.text_4_1'|trans}}</li>
                <li>{{'frontend.features.text_4_2'|trans}}</li>
                <li>{{'frontend.features.text_4_3'|trans}}</li>
                <li>{{'frontend.features.text_4_4'|trans}}</li>
                <li>{{'frontend.features.text_4_5'|trans}}</li>
            </ul>
        </div>

        <div class="post-preview">
            <h2>{{'frontend.features.title_5'|trans}}</h2>
            <ul>
                <li>{{'frontend.features.text_5_1'|trans}}</li>
                <li>{{'frontend.features.text_5_2'|trans}}</li>
                <li>{{'frontend.features.text_5_3'|trans}}</li>
            </ul>
        </div>


        <div class="post-preview">
            <h2>{{'frontend.features.title_6'|trans}}</h2>
            <ul>
                <li>{{'frontend.features.text_6_1'|trans}}</li>
                <li>{{'frontend.features.text_6_2'|trans}}</li>
                <li>{{'frontend.features.text_6_3'|trans}}</li>
            </ul>
        </div>

    {% endblock %}