<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand main-title" href="{{ path('frontend_homepage') }}">Agile Scrum</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ path('frontend_homepage') }}">{{'frontend.pages.home'|trans}}</a>
                </li>
                <li>
                    <a href="{{ path('frontend_features') }}">{{'frontend.pages.features'|trans}}</a>
                </li>
                <li>
                    <a href="{{ path('frontend_why_agile_scrum') }}">{{'frontend.pages.why'|trans}}</a>
                </li>
                <li>
                    <a href="{{ path('frontend_create_account') }}">{{'frontend.pages.create_account'|trans}}</a>
                </li>
                <li>
                    <a href="{{ path('backend_login') }}">{{'frontend.pages.sign_in'|trans}}</a>
                </li>
                <li>
                    {% set request_method =  app.request.method %}
                    {% set currentPath = 'frontend_homepage' %}
                    {% set params = {} %}
                    {% if request_method == 'GET' %}
                        {% set currentPath = app.request.attributes.get('_route') %}
                        {% set params = app.request.attributes.get('_route_params') %}
                    {% endif %}
                    <a class="pull-right" href="{{ path(currentPath, params|merge({'_locale':'en'})) }}" title="{{'frontend.lang.english'|trans}}"><img src="{{ asset('bundles/backend/images/lang/english.png') }}" style="cursor: pointer; width: 26px;"/></a>
                    <a class="pull-right" href="{{ path(currentPath, params|merge({'_locale':'es'})) }}" title="{{'frontend.lang.spanish'|trans}}"><img src="{{ asset('bundles/backend/images/lang/spanish.png') }}" style="cursor: pointer; width: 26px;"/></a> &nbsp;
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>