{% extends 'FrontendBundle:Default:main.html.twig'  %}

{% block content_header %}
{#    <header class="intro-header" style="background-image: url('{{asset('bundles/frontend/img/home-bg.jpg')}}')">#}
      <header class="intro-header" style="background-image: url('{{asset('bundles/frontend/img/scrum1.jpg')}}'); height: 443px; margin-bottom: 30px; background-position-y: 50px;">
        <div class="container">

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading no-padding-bottom">
                        <h1 style="text-shadow: 3px 3px darkcyan;">{{'frontend.home.slider_text'|trans}}</h1>
{#                        <hr class="small">#}
                        <span class="subheading">&nbsp;</span>
                    </div>
                </div>
            </div>

        </div>
    </header>
{% endblock %}

{% block content %}
    
    {{ filters.showMessage('messageFrontendSuccess', 'success')}}
    {{ filters.showMessage('messageFrontendError', 'danger')}}
    
    
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 up-block">
        <div class="post-preview">
            <h2 class="post-title">
                {{'frontend.home.title_1'|trans}}
            </h2>
            <p>
                {{'frontend.home.text_1'|trans}}
            </p>
        </div>
        <hr>
        <div class="post-preview">
            <h2 class="post-title">
                {{'frontend.home.title_2'|trans}}
            </h2>
            <p>
                {{'frontend.home.text_2'|trans}}
            </p>
        </div>
        <hr>
        <div class="post-preview">
            
            <h2 class="post-title">
                {{'frontend.home.title_3'|trans}}
            </h2>
            <p>
                {{'frontend.home.text_3'|trans}}
            </p>
        </div>
        <hr>
        <div class="post-preview">
            <h2 class="post-title">
                {{'frontend.home.title_4'|trans}}
            </h2>
            <p>
                {{'frontend.home.text_4'|trans}}
            </p>
        </div>
        <hr>
        <!-- Pager -->
        <ul class="pager">
            <li class="next">
                <a href="{{path('frontend_features')}}">{{'frontend.features.view_features'|trans}} &rarr;</a>
            </li>
        </ul>
    </div>
{% endblock %}