{% extends 'FrontendBundle:Default:main.html.twig'  %}
{% block title %}{{'frontend.pages.why'|trans}} - Agile SCRUM{% endblock %}
{% block content_header %}
{#    <header class="intro-header" style="background-image: url('{{asset('bundles/frontend/img/post-bg.jpg')}}')">#}
    <header class="intro-header" style="background-image: url('{{asset('bundles/frontend/img/scrum3.jpeg')}}'); height: 500px; margin-bottom: 30px; background-position-y: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>&nbsp;</h1>
                        {#<h1>Man must explore, and this is exploration at its greatest</h1>
                        <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                        <span class="meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</span>#}
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h2 class="section-heading">{{'frontend.why.title'|trans}}</h2>
        <p>
            <label>{{'frontend.why.subtitle_1'|trans}}</label><br>
            {{'frontend.why.text_1'|trans}}
        </p>
        <p>
            <label>{{'frontend.why.subtitle_2'|trans}}</label><br>
            {{'frontend.why.text_2'|trans}}
        </p>
        <p>
            <label>{{'frontend.why.subtitle_3'|trans}}</label><br>
            {{'frontend.why.text_3'|trans}}
        </p>
        <p>
            <label>{{'frontend.why.subtitle_4'|trans}} </label><br>
            {{'frontend.why.text_4'|trans}}
        </p>
    </div>
{% endblock %}