{% extends 'BackendBundle:Default:main.html.twig' %}
{% block title %}{{'backend.user_project.project_team'|trans}}{% endblock %}

{% block content %}

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{'backend.user_project.project_team'|trans}}
                <a href="{{ path('backend_project_team_add',{'id':project.id}) }}" class="btn btn-primary pull-right add-collaborator fancybox.iframe">{{'backend.user_project.invite_collaborator'|trans}}</a>
            </h1>
            {% set item1 = {'text': 'backend.project.projects'|trans, 'url':path('backend_projects'),'icon':'fa fa-archive'} %}
            {% set item2 = {'text': project.name, 'url':path('backend_projects_show',{'id':project.id}),'icon':'fa fa-eye'} %}
            {% set item3 = {'text': 'backend.user_project.project_team'|trans, 'icon':'fa fa-users'} %}
            {% set items = [item1, item2, item3] %}
            {{ filters.breadcrum(items) }}
        </div>
    </div>
    <!-- /.row -->
    {{ filters.showMessage('messageSuccess', 'success')}}
    {{ filters.showMessage('messageError', 'danger')}}

    {% set dateFormat = app_settings.getSettings.dateFormat %}
    <div class="table-responsive">
        <legend>{{'backend.user_project.active_members'|trans}}</legend>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>{{ 'backend.user.name'|trans }}</th>
                    <th>{{ 'backend.user.lastname'|trans }}</th>
                    <th>{{ 'backend.user.email'|trans }}</th>
                    <th>{{ 'backend.user_project.assignation_date'|trans }}</th>
                    <th>{{ 'backend.user_project.designed_role'|trans }}</th>
                    <th>{{ 'backend.global.options'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for userProject in users %}
                    <tr>
                        <td>{{ userProject.user.name }}</td>
                        <td>{{ userProject.user.lastname }}</td>
                        <td>
                            {{ userProject.user.email }}
                        </td>
                        <td>
                            {{ userProject.assignationDate|date(dateFormat) }}
                        </td>
                        <td>
                            {% if forms[loop.index-1] is defined %}
                                <div class="col-xs-10">
                                    {{form_widget(forms[loop.index-1].role, {'attr':{'class':'form-control edit-role','user-project':userProject.id}})}}
                                </div>
                                <div class="col-xs-2">
                                    <i class="fa fa-spinner fa-lg" style="display: none;"></i>
                                    <i class="fa fa-check fa-lg" style="display: none;"></i>
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-danger btn-sm cancel-assign" user-project-id="{{userProject.id}}" title="{{ 'backend.user_project.unassign_user'|trans }}" href="javascript:void(0);">
                                <i class="fa fa-close"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{{ 'backend.user_project.empty_list'|trans }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <legend>{{'backend.project_invitation.pending_invitations'|trans}}</legend>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>{{ 'backend.user.name'|trans }}</th>
                    <th>{{ 'backend.user.lastname'|trans }}</th>
                    <th>{{ 'backend.user.email'|trans }}</th>
                    <th>{{ 'backend.global.date'|trans }}</th>
                    <th>{{ 'backend.user_project.designed_role'|trans }}</th>
                    <th>{{ 'backend.global.options'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% set dateFormat = app_settings.getSettings.dateFormat %}
                {% for invitation in invitations %}
                    <tr>
                        <td>{{ invitation.user.name }}</td>
                        <td>{{ invitation.user.lastname }}</td>
                        <td>
                            {{ invitation.user.email }}
                        </td>
                        <td>
                            {{ invitation.date|date(dateFormat) }}
                        </td>
                        <td>
                            {{ invitation.role }}
                        </td>
                        <td>
                            <a class="btn btn-danger btn-sm cancel-invitation" invitation-id="{{invitation.id}}" title="{{ 'backend.project_invitation.cancel_invitation'|trans }}" href="javascript:void(0);">
                                <i class="fa fa-close"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{{ 'backend.project_invitation.empty_list'|trans }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
        $(".add-collaborator").fancybox({
            width: '800px',
            height: '400px',
            autoSize: false,
            autoScale: false,
            autoDimensions: false,
        });

        {# Codigo para cancelar invitaciones pendientes #}
        $(".cancel-invitation").click(function () {
            var object = $(this);
            var invitationId = object.attr('invitation-id');

            bootbox.confirm({
                message: "{{'backend.project_invitation.cancel_warning'|trans}}",
                buttons: {
                    'cancel': {
                        label: '{{'backend.global.cancel' | trans}}',
                        className: 'btn-default'
                    },
                    'confirm': {
                        label: '{{'backend.global.delete' | trans}}',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {

                    if (result == true)
                    {
                        $.ajax({
                            type: 'POST',
                            url: "{{path('backend_user_delete_invitation')}}",
                            dataType: 'json',
                            data: {invitationId: invitationId},
                            success: function (r)
                            {
                                if (r.result == '__OK__') {
                                    window.location.reload();
                                } else {
                                    bootbox.alert(r.msg);
                                }
                            },
                            error: function (r)
                            {
                                bootbox.alert("{{'backend.global.unknown_error'|trans}}")
                            }
                        });
                    }
                }
            });
        });

        {# Codigo para cancelar asignaciones a proyectos #}
        $(".cancel-assign").click(function () {
            var object = $(this);
            var userProjectId = object.attr('user-project-id');

            bootbox.confirm({
                message: "{{'backend.user_project.cancel_warning'|trans}}",
                buttons: {
                    'cancel': {
                        label: '{{'backend.global.cancel' | trans}}',
                        className: 'btn-default'
                    },
                    'confirm': {
                        label: '{{'backend.user_project.unassign_user' | trans}}',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {

                    if (result == true)
                    {
                        $.ajax({
                            type: 'POST',
                            url: "{{path('backend_project_team_delete_user',{'id':project.id})}}",
                            dataType: 'json',
                            data: {userProjectId: userProjectId},
                            success: function (r)
                            {
                                if (r.result == '__OK__') {
                                    window.location.reload();
                                } else {
                                    bootbox.alert(r.msg);
                                }
                            },
                            error: function (r)
                            {
                                bootbox.alert("{{'backend.global.unknown_error'|trans}}")
                            }
                        })
                    }
                }
            });
        });


        {# Codigo para permitir la edicion de los roles de los usuarios en el proyecto #}
        $(".edit-role").change(function () {
            var object = $(this);
            var userProjectId = object.attr('user-project');
            var roleId = object.val();

            var check = object.closest('div').next().find('.fa-check');
            var spinner = object.closest('div').next().find('.fa-spinner');

            spinner.css('display', '');
            check.css('display', 'none');
            $.ajax({
                type: 'POST',
                url: "{{path('backend_project_team_user_edit_role',{'id':project.id})}}",
                dataType: 'json',
                data: {userProjectId: userProjectId, roleId: roleId},
                success: function (r)
                {
                    spinner.css('display', 'none');
                    if (r.result == '__OK__') {
                        check.css('display', '');
                        check.fadeOut(1200);
                    } else {
                        bootbox.alert(r.msg);
                    }
                },
                error: function (r)
                {
                    spinner.css('display', 'none');
                    bootbox.alert("{{'backend.global.unknown_error'|trans}}")
                }
            });

        });

    {% endblock %}
