{% extends 'BackendBundle:Default:main.html.twig' %}

{% block title %}{{'backend.setting.settings'|trans}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{'backend.setting.settings'|trans}}
            </h1>
            {% set item1 = {'text': 'backend.setting.settings'|trans, 'icon':'fa fa-cog'} %}
            {% set items = [item1] %}
            {{ filters.breadcrum(items) }}
        </div>
    </div>

    {{ filters.showMessage('messageSuccess', 'success')}}
    {{ filters.showMessage('messageError', 'danger')}}
    
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-5">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                    </div>
                </div>
                <a href="{{path('backend_settings_user_roles')}}">
                    <div class="panel-footer">
                        <span class="pull-left">{{'backend.user_role.user_roles'|trans}}</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}