{% extends 'BackendBundle:Default:main.html.twig' %}
{% block title %}{{project}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{ project }}
                <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default pull-right">{{'backend.global.back'|trans}}</a>
            </h1>
            {% set item2 = {'text': project.name, 'url':path('backend_projects_view', { 'id': project.id }), 'icon':'fa fa-dashboard'} %}
            {% set item3 = {'text': 'backend.project.dashboard'|trans, 'icon':'fa fa-dashboard'} %}
            {% set items = [item2, item3] %}
            {{ filters.breadcrum(items) }}
        </div>
    </div>

    
    {{ filters.showMessage('messageSuccess', 'success')}}
    {{ filters.showMessage('messageError', 'danger')}}        
            
    {% set dateFormat = project.settings.dateFormat %}
    {% set fullDateFormat = project.settings.fullDateFormat %}
    
    <div class="row">
        <div class="col-lg-2 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading project-link">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <i class="fa fa-list fa-5x"></i>
                        </div>
                    </div>
                </div>
                <a href="{{ path('backend_project_product_backlog', { 'id': project.id }) }}">
                    <div class="panel-footer">
                        <span class="pull-left">{{ 'backend.backlog.product_backlog'|trans }}</span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading project-link">
                    <div class="row">
                        <div class="col-xs-12 text-center">
{#                            <i class="fa fa-rotate-right fa-5x"></i>#}
                            <span class="glyphicon glyphicon-refresh fa-5x"></span>
                        </div>
                    </div>
                </div>
                <a href="{{ path('backend_project_sprints',{'id':project.id}) }}">
                    <div class="panel-footer">
                        <span class="pull-left">{{ 'backend.sprint.sprints'|trans }}</span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading project-link">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <i class="fa fa-file-text-o fa-5x"></i>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">{{ 'backend.report.reports'|trans }}</span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading project-link">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                    </div>
                </div>
                <a href="{{ path('backend_project_team', { 'id': project.id }) }}">
                    <div class="panel-footer">
                        <span class="pull-left">{{ 'backend.user_project.project_team'|trans }}</span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading project-link">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <i class="fa fa-cogs fa-5x"></i>
                        </div>
                    </div>
                </div>
                <a href="{{ path('backend_projects_edit', { 'id': project.id }) }}">
                    <div class="panel-footer">
                        <span class="pull-left">{{ 'backend.project.settings'|trans }}</span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    <div class="col-lg-6 col-md-6 col-xs-12 no-padding-sides">                    
        <div class="panel panel-default">
            <div class="panel-heading panel-head-details">
                <h3 class="panel-title">
                    {{ 'backend.project.details'|trans }}
                    <a class="btn btn-default btn-sm pull-right" title="{{'backend.project.edit'|trans}}" href="{{ path('backend_projects_edit', { 'id': project.id }) }}"><i class="fa fa-pencil"></i></a>
                </h3>
            </div>
            <div class="list-group">
                <a class="list-group-item" href="javascript:void(0);">
                    <label>{{ 'backend.project.description'|trans }}</label>
                    <div>{{ project.description |raw }}</div>
                </a>
                <a class="list-group-item" href="javascript:void(0);">
                    <label>{{ 'backend.project.start_date'|trans }}</label>
                    <div>{% if project.startDate %}{{ project.startDate|date(dateFormat) }}{% endif %}</div>
                </a>
                <a class="list-group-item" href="javascript:void(0);">
                    <label>{{ 'backend.project.creation_date'|trans }}</label>
                    <div>{% if project.creationDate %}{{ project.creationDate|date(dateFormat) }}{% endif %}</div>
                </a>
                <a class="list-group-item" href="javascript:void(0);">
                    <label>{{ 'backend.project.estimated_date'|trans }}</label>
                    <div>{% if project.estimatedDate %}{{ project.estimatedDate|date(dateFormat) }}{% endif %}</div>
                </a>
                <a class="list-group-item" href="javascript:void(0);">
                    <label>{{ 'backend.project.effort_method'|trans }}</label>
                    <div>{% if project.effortEstimationMethod %}{{ project.getTextEffortMethod()|trans }}{% endif %}</div>
                </a>
                <a class="list-group-item" href="javascript:void(0);">
                    <label>{{ 'backend.setting.date_format'|trans }}</label>
                    <div>{{ project.settings.dateFormat }}</div>
                </a>
                <a class="list-group-item" href="javascript:void(0);">
                    <label>{{ 'backend.setting.hour_format'|trans }}</label>
                    <div>{{ project.settings.hourFormat }}</div>
                </a>
                <a class="list-group-item" href="javascript:void(0);">
                    <label>{{ 'backend.global.owner'|trans }}</label>
                    <div>{{ project.userOwner }}</div>
                </a>
            </div>
        </div>
    </div>
                    
    <div class="col-lg-6 col-md-6 col-xs-12 no-padding-right pull-right">                    
        <div class="panel panel-default">
            <div class="panel-heading panel-head-details">
                <h3 class="panel-title">
                    {{ 'backend.sprint.sprints'|trans }} ({{sprints|length}})
                    <a class="btn btn-default btn-sm pull-right" title="{{'backend.sprint.sprints'|trans}}" href="{{ path('backend_project_sprints',{'id':project.id}) }}"><i class="fa fa-list"></i></a>
                </h3>
            </div>
            <div class="list-group">
                {% for sprint in sprints %}
                    <a class="list-group-item" href="{{ path('backend_project_sprints_backlog',{'id':project.id,'sprintId':sprint.id}) }}">
                        <label>{{ sprint.name }}</label>
                        <span class="{{sprint.getLabelClassByStatus()}} pull-right">{{ sprint.textStatus|trans }}</span>
                        <div>
                            {{ sprint.startDate|date(dateFormat)}} {{'backend.global.to'|trans}} {{ sprint.estimatedDate|date(dateFormat)}}
                        </div>
                    </a>
                {% else %}
                    {{ 'backend.sprint.empty_list'|trans }}
                {% endfor%}
            </div>
        </div>
    </div>
    
    <div class="col-lg-6 col-md-6 col-xs-12 no-padding-right pull-right">                    
        <div class="panel panel-default">
            <div class="panel-heading panel-head-details">
                <h3 class="panel-title">
                    {{ 'backend.user_project.project_team'|trans }} ({{team|length}})
                    <a class="btn btn-default btn-sm pull-right" title="{{ 'backend.user_project.project_team'|trans }}" href="{{ path('backend_project_team', { 'id': project.id }) }}"><i class="fa fa-list"></i></a>
                </h3>
            </div>
            <div class="list-group">
                {% for userProject in team %}
                    <a class="list-group-item" href="{{ path('backend_project_team_view',{'id':project.id, 'userId':userProject.id})}}">
                        <label>{{ userProject.user|title }}</label>
                        <span class="pull-right">{{userProject.role}}</span>
                        <div>
                            {{ userProject.assignationDate|date(dateFormat)}}
                        </div>
                    </a>
                {% else %}
                    {{ 'backend.sprint.empty_list'|trans }}
                {% endfor%}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    $(".project-link").click(function() {
        var object = $(this);
        var href = object.next("a").attr("href");
        if (href != '') {
            window.location.href = href; 
        }
    });
{% endblock %}
