{% extends 'BackendBundle:Default:main.html.twig' %}
{% block title %}{{'backend.report.reports'|trans}}{% endblock %}

{% block content %}

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{'backend.report.reports'|trans}}
            </h1>

            {% set item2 = {'text': project.name, 'url':path('backend_projects_view',{'id':project.id}),'icon':'fa fa-dashboard'} %}
            {% set item3 = {'text': 'backend.report.reports'|trans, 'icon':'fa fa-list'} %}
            {% set items = [item2, item3] %}
            {{ filters.breadcrum(items) }}
        </div>
    </div>
    <!-- /.row -->
    {{ filters.showMessage('messageSuccess', 'success')}}
    {{ filters.showMessage('messageError', 'danger')}}
    
    <div>
        <a href="{{path('backend_project_product_backlog_new',{'id':project.id})}}" class="btn btn-primary pull-right">{{'backend.item.new'|trans}}</a>
    </div>
  {% endblock %}