{% extends 'BackendBundle:Default:main.html.twig' %}
{% block title %}{{'backend.user_role.new'|trans}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{'backend.user_role.new'|trans}}
                <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default pull-right">{{'backend.global.back'|trans}}</a>
            </h1>
            
            {% set item2 = {'text': project.name, 'url':path('backend_projects_view',{'id':project.id}),'icon':'fa fa-dashboard'} %}
            {% set item3 = {'text': 'backend.user_role.user_roles'|trans, 'url':path('backend_projects_roles',{'projectId':project.id}), 'icon':'fa fa-users'} %}
            {% set item4 = {'text': 'backend.user_role.new'|trans, 'icon':'fa fa-star-o'} %}
            {% set items = [item2, item3, item4] %}
            {{ filters.breadcrum(items) }}
        </div>
    </div>
        
    <div class="row">
        {{ form_start(form, {'action': path('backend_projects_roles_new',{'projectId':project.id}), 'method': 'POST'}) }}
            <div class="col-lg-6">
                <div class="form-group">
                    {{ form_label(form.name)}} <em>*</em>
                    {{ form_widget(form.name, {'attr':{'class':'form-control title-case'}}) }}
                    {{ form_errors(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.description)}}
                    {{ form_widget(form.description, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.description) }}
                </div>
            </div>
        
            <div class="col-lg-12">
                {{ form_widget(form._token) }} 
                <button type="submit"class="btn btn-primary pull-right">{{ 'backend.global.create'|trans }}</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block scripts %}
    singleHtmlEditor('textarea', 200);
{% endblock %}
