{% extends 'BackendBundle:Default:main.html.twig' %}
{% block title %}{{'backend.user.edit_profile'|trans}}{% endblock %}
{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{'backend.user.edit_profile'|trans}}
                <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default pull-right">{{'backend.global.back'|trans}}</a>
            </h1>
            {% set item1 = {'text': 'backend.user.edit_profile'|trans, 'icon':'fa fa-user'} %}
            {% set items = [item1] %}
            {{ filters.breadcrum(items) }}
        </div>
    </div>
    <!-- /.row -->

    <div class="row">

        {{ form_start(form, {'action': path('backend_user_update_profile'), 'method': 'POST'}) }}
        
        
            <div class="col-lg-6">
                <div class="form-group">
                    {{ form_label(form.name)}}
                    {{ form_widget(form.name, {'attr':{'class':'form-control title-case'}}) }}
                    {{ form_errors(form.name) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.lastname)}}
                    {{ form_widget(form.lastname, {'attr':{'class':'form-control title-case'}}) }}
                    {{ form_errors(form.lastname) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.cellphone)}}
                    {{ form_widget(form.cellphone, {'attr':{'class':'form-control only_numbers'}}) }}
                    {{ form_errors(form.cellphone) }}
                </div>
                
                <div class="form-group">
                    {{ form_label(form.biography)}}
                    {{ form_widget(form.biography, {'attr':{'class':'form-control', 'rows':'4'}}) }}
                    {{ form_errors(form.biography) }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>{{'backend.user.email'|trans}}</label>
                    <p class="form-control-static">{{user.email}}</p>
                </div>

                <div class="form-group">
                    {{ form_label(form.password.first)}}
                    {{ form_widget(form.password.first, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.password.first) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.password.second)}}
                    {{ form_widget(form.password.second, {'attr':{'class':'form-control'}}) }}
                </div>
                
                <div class="form-group">
                    {{ form_label(form.profileImage)}}
                    {{ form_widget(form.profileImage) }}
                    {{ form_errors(form.profileImage) }}
                </div>
                <div class="form-group">
                    <img width="50%" class="thumbnail" src="{{ asset('uploads/users/' ~ app.user.profileImagePath) }}" />
                </div>
                
            </div>
            <div class="col-lg-12">
                {{ form_widget(form._token) }} 
                {{ form_widget(form.submit, {'attr':{'class':'btn btn-primary pull-right'}}) }} 
            </div>
        {{ form_end(form) }}
    </div>
    <!-- /.row -->

{% endblock %}

{% block scripts %}

    $("#masterlicensor_backendbundle_userprofile_type_password_first").val('');

    singleHtmlEditor('textarea', 200);
    
{% endblock %}